# Demo Objekte ändern und löschen

In [1]:
-- Neue Datenbank
CREATE DATABASE ObjektDemo;

In [2]:
USE master;
GO

DROP DATABASE ObjektDemo;
-- DROP DATABASE IF EXISTS ObjektDemo;

In [3]:
-- ObjektDemo ist vorhanden!
USE ObjektDemo;

: Msg 911, Level 16, State 1, Line 2
Die ObjektDemo-Datenbank ist nicht vorhanden. Stellen Sie sicher, dass der Name richtig eingegeben wurde.

In [4]:
-- Neue Tabelle
CREATE TABLE Inventar (
    InventarNr INT IDENTITY(1,1),
    Objekt VARCHAR(60) NOT NULL,
    CONSTRAINT pk_Inventar PRIMARY KEY(InventarNr)
);

In [5]:
-- Tabelle umbenennen
EXEC sp_rename 'dbo.Inventar', 'BüroInventar';

In [ ]:
-- Spalten hinzufügen
ALTER TABLE BüroInventar
ADD Preis DECIMAL(9,2) NULL,
    Jahr INT NULL;

In [ ]:
-- Spalte umbenennen
EXEC sp_rename 'dbo.BüroInventar.Preis', 'Anschaffungspreis', 'COLUMN';

In [ ]:
-- Datentyp ändern
ALTER TABLE BüroInventar 
ALTER COLUMN Anschaffungspreis INT;

In [ ]:
-- Spalte löschen
ALTER TABLE BüroInventar
DROP COLUMN Jahr;

In [ ]:
ALTER TABLE BüroInventar
ADD CONSTRAINT chk_Büroinventar_Preis CHECK (Anschaffungspreis BETWEEN 10 AND 1000);

In [ ]:
INSERT INTO BüroInventar (Objekt, Anschaffungspreis)
VALUES ('Blumentopf', 5); -- zu geringer Anschaffungspreis!

In [ ]:
-- Check Constraint aussetzen
ALTER TABLE BüroInventar
NOCHECK CONSTRAINT chk_Büroinventar_Preis;

In [ ]:
INSERT INTO BüroInventar (Objekt, Anschaffungspreis)
VALUES ('Blumentopf', 5); -- das geht jetzt!

In [ ]:
-- Check Constraint wieder anschalten
-- Kein Fehler, obwohl ein Anschaffungspreis gegen die Regel verstößt
ALTER TABLE BüroInventar
CHECK CONSTRAINT chk_Büroinventar_Preis;

In [ ]:
-- Constraint löschen
ALTER TABLE BüroInventar
DROP CONSTRAINT chk_Büroinventar_Preis;

In [ ]:
-- Constraint wieder hinzufügen
-- geht nicht, weil ein Datensatz gegen die Regel verstößt
ALTER TABLE BüroInventar
ADD CONSTRAINT chk_Büroinventar_Preis CHECK (Anschaffungspreis BETWEEN 10 AND 1000);

In [ ]:
-- Aufräumen
USE master;

DROP DATABASE IF EXISTS ObjektDemo;