In [1]:
USE Flugbuchung;

In [2]:
INSERT INTO Kunde (KundeNr, Anrede, Vorname, Nachname, Strasse, PLZ, Ort)
VALUES('00456', 'Herr', 'Marcel', 'Pott', 'Sandweg 2', '12345', 'Berlin');

In [3]:
INSERT INTO Buchung (Buchungnummer, KundeNr)
VALUES
('3897212633', '00456');

In [4]:
INSERT INTO Flughafen (FlughafenCode)
VALUES
('CGN'),
('PMI');

In [5]:
INSERT INTO Fluggast (Vorname, Nachname, Geburtsdatum)
VALUES
('Petra', 'Pott', '1968-07-23'),
('Inge', 'Pott', '1988-10-31');

In [7]:

INSERT INTO FlugnummerFlugtyp (Flugnummer, Abflugzeit, Landezeit, FlughafenCode, landet_inFlughafenCode)
VALUES
('ET9250', '11:20', '13:30', 'CGN', 'PMI'),
('ET9251', '20:20', '22:40', 'PMI', 'CGN');

In [8]:
INSERT INTO Flug (Flugnr_Datum_ID, Datum, Flugnummer)
VALUES
('2006-12-02', '2006-12-02', 'ET9250'),
('2006-12-06', '2006-12-06', 'ET9251');

In [9]:
INSERT INTO Buchungsdetail (FlugKostenFluggast, Hinflug, Rueckflug, FluggastID, Buchungnummer, Flugnr_Datum_ID)
VALUES
(150.00, '2006-12-02 11:20', '2006-12-06 20:20', '1', '3897212633', '2006-12-02'),
(150.00, '2006-12-02 11:20', '2006-12-06 20:20', '2', '3897212633', '2006-12-02');

In [10]:
SELECT * FROM Buchungsdetail;

FlugKostenFluggast,Hinflug,Rueckflug,FluggastID,Buchungnummer,Flugnr_Datum_ID
150.00,2006-02-12 11:20:00,2006-06-12 20:20:00,1,3897212633,2006-12-02
150.00,2006-02-12 11:20:00,2006-06-12 20:20:00,2,3897212633,2006-12-02