# DataFrame in CSV-Datei schreiben

In [1]:
# Bibliotheken laden
import pandas as pd
import json
'pandas pd und json geladen'

'pandas pd und json geladen'

In [2]:
# Load JSON data
with open('data/cd-catalog.json', 'r') as file:
    data = json.load(file)

# Convert JSON to DataFrame
df = pd.DataFrame(data)

In [7]:
csv_file_path = 'data/cd-catalog.csv'
df.to_csv(csv_file_path, index=False)
'cd-catalog.csv erstellt'

'cd-catalog.csv erstellt'

In [5]:
df_csv = pd.read_csv('data/cd-catalog.csv')
df_csv.describe()

             PRICE         YEAR
count    26.000000    26.000000
mean    104.884615  1988.000000
std     488.286594     8.128961
min       7.200000  1968.000000
25%       8.125000  1985.000000
50%       8.900000  1988.000000
75%      10.125000  1995.000000
max    2498.900000  1999.000000