# Demo: CSV Studenten-Daten laden und analysieren

In [1]:
import pandas as pd
df = pd.read_csv('./data/StudentsPerformance.csv')
'Data Frame geladen'

'Data Frame geladen'

In [2]:
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [3]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [4]:
df.groupby(['race/ethnicity','gender'])['parental level of education'].describe()

                      count unique                 top freq
race/ethnicity gender
group A        female    36      6    some high school   10
               male      53      6    some high school   14
group B        female   104      6         high school   28
               male      86      6        some college   22
group C        female   180      6  associate's degree   45
               male     139      6         high school   34
group D        female   129      6        some college   35
               male     133      6        some college   32
group E        female    69      6  associate's degree   18
               male      71      6  associate's degree   21