# LIKE

[Suche mit Platzhaltern](https://learn.microsoft.com/en-us/sql/t-sql/language-elements/like-transact-sql?view=sql-server-ver16)

In [ ]:
SELECT DISTINCT Vorname
FROM Adresse
WHERE Vorname LIKE '[A-C]%'
ORDER BY Vorname;

In [ ]:
SELECT DISTINCT Vorname
FROM Adresse
WHERE Vorname LIKE 'B_rb%'
ORDER BY Vorname;

In [ ]:
SELECT DISTINCT Vorname
FROM Adresse
WHERE Vorname LIKE 'H%nn%'
ORDER BY Vorname;

In [ ]:
-- Eine performantere Möglichkeit,
-- Namen mit Anfangsbuchstabe A zu filtern
SELECT DISTINCT Vorname
FROM Adresse
WHERE LEFT(Vorname, 1) = 'A' 
ORDER BY Vorname;

In [ ]:
-- Suche nach einem Hochkomma im Text
SELECT Firma, Telefon
FROM Kunde
WHERE Firma LIKE '%''%' 
ORDER BY Firma;

In [ ]:
SELECT DISTINCT Vorname FROM Adresse ORDER BY 1;

## Beispiele für die Verwendung des ESCAPE Characters

In [ ]:
DROP TABLE IF EXISTS Wildcardsuche;
GO
CREATE TABLE Wildcardsuche (
    Demofeld VARCHAR(100) NOT NULL
);
GO

In [ ]:
INSERT INTO Wildcardsuche (Demofeld)
VALUES ('Heute 10% Rabatt auf alle Datenbanken!'),
    ('Hyperlink [Linktext](URI) in Markdown'),
    ('Zwinker ^|^ Zwinker'),
    ('Noch ein _bisschen_ Markdown');

In [ ]:
-- Suche mit Escape-Character
SELECT Demofeld FROM Wildcardsuche WHERE Demofeld LIKE '%!^%' ESCAPE('!');
SELECT Demofeld FROM Wildcardsuche WHERE Demofeld LIKE '%!%%' ESCAPE('!');
SELECT Demofeld FROM Wildcardsuche WHERE Demofeld LIKE '%![%' ESCAPE('!');
SELECT Demofeld FROM Wildcardsuche WHERE Demofeld LIKE '%!_%' ESCAPE('!');

## Besonderheiten bei NVARCHAR vs. VARCHAR

[Pattern-Matching Using LIKE](https:\learn.microsoft.com\en-us\sql\t-sql\language-elements\like-transact-sql?view=sql-server-ver16#pattern-match-using-like)

In [ ]:
-- ASCII pattern matching with char column
USE SQL_Seminar;
DROP TABLE IF EXISTS t;
GO
CREATE TABLE t (col1 CHAR(30));

INSERT INTO t
VALUES ('Robert King');

SELECT * FROM t
WHERE col1 LIKE '% King'; -- returns 1 row

DROP TABLE IF EXISTS t;

In [ ]:
-- Unicode pattern matching with nchar column
USE SQL_Seminar;
DROP TABLE IF EXISTS t;
GO
CREATE TABLE t (col1 NCHAR(30));

INSERT INTO t
VALUES ('Robert King');

SELECT * FROM t
WHERE col1 LIKE '% King'; -- no rows returned

-- Unicode pattern matching with nchar column and RTRIM
SELECT * FROM t
WHERE RTRIM(col1) LIKE '% King'; -- returns 1 row

DROP TABLE IF EXISTS t;