# Demo: Einfache Abfragen

_Einfach_ meint hier: Abfragen über eine einzelne Tabelle ohne Unterabfragen.

In [5]:
USE SQL_Seminar;

In [1]:
/*  
    Mit * auf die Schnelle alle Spalten und Zeilen anzeigen
    Für Produktivcode in Anwendungen geben Sie bitte die 
    Spaltenliste in SELECT genau an, sonst könnte Ihre 
    Anwendung nicht funktionieren, wenn sich die Struktur
    der Tabelle ändert.
    Die Auswahl der anzuzeigenden Spalten nennt man Projektion.
*/
SELECT * FROM Mitarbeiter;

MitarbeiterNr,Vorname,Nachname,Anrede,Position,Geburtsdatum,Einstelldatum,Vorgesetzte,Strasse,Ort,PLZ,Region,Land
1,Nancy,Davolio,Frau,Vertriebsmitarbeiterin,1968-12-08,2002-05-01,2,507 - 20th Ave. E. Apt. 2A,Seattle,98122,WA,USA
2,Andrew,Fuller,Herr,Geschäftsführer,1972-02-19,2002-08-14,NULL,908 W. Capital Way,Tacoma,98401,WA,USA
3,Janet,Leverling,Frau,Vertriebsmitarbeiterin,1983-08-30,2002-04-01,2,722 Moss Bay Blvd.,Kirkland,98033,WA,USA
4,Margaret,Peacock,Frau,Vertriebsmitarbeiterin,1957-09-19,2003-05-03,2,4110 Old Redmond Rd.,Redmond,98052,WA,USA
5,Steven,Buchanan,Herr,Vertriebsmanager,1975-03-04,2003-10-17,2,14 Garrett Hill,London,SW1 8JR,NULL,UK
6,Michael,Suyama,Herr,Vertriebsmitarbeiter,1983-07-02,2003-10-17,5,Coventry House Miner Rd.,London,EC2 7JR,NULL,UK
7,Robert,King,Herr,Vertriebsmitarbeiter,1980-05-29,2004-01-02,5,Edgeham Hollow Winchester Way,London,RG1 9SP,NULL,UK
8,Laura,Callahan,Frau,Vertriebskoordination,1978-01-09,2004-03-05,2,4726 - 11th Ave. N.E.,Seattle,98105,WA,USA
9,Anne,Dodsworth,Frau,Vertriebsmitarbeiterin,1986-01-27,2004-11-15,5,7 Houndstooth Rd.,London,WG2 7LT,NULL,UK
10,Jane,Doe,Frau,Vertriebsmitarbeiterin,1968-12-08,2013-05-01,8,"7890 - 20th Ave. E., Apt. 2A",Seattle,10003,WA,USA

In [2]:
/*
 Geben Sie den Spalten verständliche Überschriften, besonders bei berechneten Spalten
 Man nennt das Spalten-Alias.
 Das Schlüsselwort AS ist optional, aber es schafft Übersicht und hilft, Fehler zu vermeiden.
*/
SELECT Land, COUNT(MitarbeiterNr) AS [Anzahl Mitarbeiter]
FROM Mitarbeiter
GROUP BY Land;

Land,Anzahl Mitarbeiter
UK,4
USA,6

In [ ]:
-- Kombinieren Sie mehrere Spalten zu einer neuen Spalte
SELECT CONCAT(Vorname, ' ', Nachname) AS Mitarbeiter, Land
FROM Mitarbeiter;

In [ ]:
-- Rechnen Sie mit SQL
SELECT BestellungID, Menge * Verkaufspreis AS [Bestellposten Umsatz]
FROM BestellDetail;

In [ ]:
-- Aggregieren Sie mit SQL
-- Gruppieren Sie, wenn weitere Spalten angezeigt werden
SELECT BestellungID, SUM(Menge * Verkaufspreis) AS [Rechnungssumme]
FROM BestellDetail
GROUP BY BestellungID;

In [ ]:
-- Filtern Sie nicht aggregierte Werte mit WHERE
SELECT BestellungID, SUM(Menge * Verkaufspreis) AS [Rechnungssumme]
FROM BestellDetail
WHERE BestellungID BETWEEN 100 AND 150
GROUP BY BestellungID;

In [ ]:
-- Filtern Sie aggregierte Werte mit HAVING
SELECT BestellungID, SUM(Menge * Verkaufspreis) AS [Rechnungssumme]
FROM BestellDetail
GROUP BY BestellungID
HAVING SUM(Menge * Verkaufspreis) > 10000;

In [2]:
/* Sortieren Sie die Abfrageergebnisse mit ORDER BY
  Die Default-Sortierfolge ist aufsteigend ASC, alternativ absteigend DESC
  Mehrere Sortierspalten geben Sie durch Komma getrennt an.
  ASC|DESC wird dabei für jede Spalte individuell angegeben.  
*/  
SELECT BestellungID, SUM(Menge * Verkaufspreis) AS [Rechnungssumme]
FROM BestellDetail
GROUP BY BestellungID
HAVING SUM(Menge * Verkaufspreis) > 10000
ORDER BY Rechnungssumme DESC;

BestellungID,Rechnungssumme
618,"17250,00"
783,"16321,90"
734,"15810,00"
125,"12281,20"
177,"11493,20"
570,"11490,70"
642,"11380,00"
170,"11283,20"
650,"10835,24"
106,"10741,60"
268,"10588,50"
232,"10495,60"
293,"10191,70"
444,"10164,80"

In [ ]:
-- Begrenzen Sie die Anzahl angezeigter Zeilen mit TOP
SELECT TOP 5 BestellungID, SUM(Menge * Verkaufspreis) AS [Rechnungssumme]
FROM BestellDetail
GROUP BY BestellungID
HAVING SUM(Menge * Verkaufspreis) > 10000
ORDER BY Rechnungssumme DESC;

In [ ]:
-- Lassen Sie bei TOP Begrenzung Ranggleiche in der Sortierfolge WITH TIES mit ausgeben
-- Im Beispiel werden nicht 10 sondern 11 Zeilen ausgegeben
SELECT TOP 10 WITH TIES Land, COUNT(KundenNr) AS [Anzahl Kunden im Land]
FROM Kunde
GROUP BY Land
ORDER BY [Anzahl Kunden im Land] DESC;