# NULL Zustände abfragen und behandeln

NULL tritt auf, wenn ein Attribut laut Tabellendefinition erlaubt, dass der Wert leer bleiben darf, oder wenn in einem OUTER JOIN keine passenden Zeilen in der anderen Tabelle gefunden werden: In diesem Fall werden dort alle Attribute als NULL dargestellt. Sie finden Beispiele für OUTER JOINs im Abschnitt _Abfragen über mehrere Tabellen_.

- Filtern Sie NULL-Zustände mit IS NULL bzw. IS NOT NULL (Vergleiche mit Gleichheitszeichen = funktionieren nicht!)
- Unterdrücken Sie die die Anzeige von NULL mit der Funktion COALESCE

In [1]:
-- Das geht alles nicht! 
SELECT * FROM Mitarbeiter WHERE Region = NULL;
SELECT * FROM Mitarbeiter WHERE Region <> NULL;
SELECT * FROM Bestellung WHERE Versanddatum = NULL;
SELECT * FROM Bestellung WHERE Versanddatum <> NULL;

In [2]:
-- IS NULL | IS NOT NULL
SELECT MitarbeiterNr, Vorname, Nachname, Ort, Region, Land
FROM Mitarbeiter 
WHERE Region IS NULL;

MitarbeiterNr,Vorname,Nachname,Ort,Region,Land
5,Steven,Buchanan,London,NULL,UK
6,Michael,Suyama,London,NULL,UK
7,Robert,King,London,NULL,UK
9,Anne,Dodsworth,London,NULL,UK

In [ ]:
-- Zeige '—' statt NULL mit COALESCE
SELECT MitarbeiterNr, Vorname, Nachname, Ort, COALESCE(Region, '—') AS Region, Land
FROM Mitarbeiter 
WHERE Region IS NULL;

In [ ]:
-- Finde noch nicht gelieferte Bestellungen
SELECT BestellungID, Bestelldatum, Versanddatum
FROM Bestellung
WHERE Versanddatum IS NULL;

In [3]:
-- Finde Kunden ohne FAX

In [6]:
-- Wie viele Kunden in Deutschland haben kein Fax?

In [5]:
-- Finde Mitarbeitende, die keine(n) Vorgesetzte(n) haben

In [4]:
-- Alle Funktionsargumente von COALESCE müssen den gleichen Datentyp haben
-- Um bei fehlendem Datum Text anzuzeigen, wird das Datum in VARCHAR umgewandelt.
SELECT BestellungID, Bestelldatum
    , COALESCE(CAST(Versanddatum AS VARCHAR(20)), 'nicht geliefert!') AS Versanddatum
FROM Bestellung
WHERE Versanddatum IS NULL;

BestellungID,Bestelldatum,Versanddatum
836,2020-02-28,nicht geliefert!