# ERDPlus Export: Diesen Code <u>**NICHT!**</u> ausführen

In [2]:
CREATE TABLE FORSCHUNGSGRUPPE
(
  Nummer INT IDENTITY(1,1) NOT NULL,
  Name INT NOT NULL,
  CONSTRAINT pk_FORSCHUNGSGRUPPE PRIMARY KEY (Nummer)
);

CREATE TABLE CHEMIKALIE
(
  Formel VARCHAR(200) NOT NULL,
  Name VARCHAR(100) NOT NULL,
  Gefahrrenk INT NOT NULL,
  Lagermenge INT NOT NULL,
  CONSTRAINT pk_CHEMIKALIE PRIMARY KEY (Formel)
);

CREATE TABLE GERÄT
(
  GräteNr INT IDENTITY(1,1) NOT NULL,
  Name VARCHAR(100) NOT NULL,
  Beschreib VARCHAR(1000) NOT NULL,
  AnzahlVerfügb INT NOT NULL,
  PRIMARY KEY (GräteNr)
);

CREATE TABLE VERSUCH
(
  Nummer INT IDENTITY(1,1) NOT NULL,
  Zeit INT NOT NULL,
  Beschreib INT NOT NULL,
  Formel VARCHAR(200) NOT NULL,
  GräteNr INT NOT NULL,
  CONSTRAINT pk_VERSUCH PRIMARY KEY (Nummer),
  CONSTRAINT fk_CHEMIKALI FOREIGN KEY (Formel) REFERENCES CHEMIKALIE(Formel),
  CONSTRAINT fk_GERÄT FOREIGN KEY (GräteNr) REFERENCES GERÄT(GräteNr)
);

CREATE TABLE MESSWERTE
(
  Zeit DATETIME NOT NULL,
  Wert INT NOT NULL,
  VersuchNr INT NOT NULL,
  Nummer INT IDENTITY(1,1) NOT NULL,
  CONSTRAINT fk_VERSUCH FOREIGN KEY (Nummer) REFERENCES VERSUCH(Nummer)
);

CREATE TABLE MITARBEITER
(
  Adresse CHAR(5) NOT NULL,
  GebDat DATE NOT NULL,
  Position VARCHAR(100) NOT NULL,
  Name VARCHAR(100) NOT NULL,
  Nummer INT IDENTITY(1,1) NOT NULL,
  Nummer INT IDENTITY(1,1)  NOT NULL,
  Nummer INT IDENTITY(1,1)  NOT NULL,
  CONSTRAINT pk_MITARBEITER PRIMARY KEY (Nummer),
  CONSTRAINT fk_FORSCHUNGSGRUPPE FOREIGN KEY (Nummer) REFERENCES FORSCHUNGSGRUPPE(Nummer),
  CONSTRAINT fk_VERSUCH FOREIGN KEY (Nummer) REFERENCES VERSUCH(Nummer)
);

CREATE TABLE PROJEKT
(
  Nummer INT IDENTITY(1,1) NOT NULL,
  Name VARCHAR(100) NOT NULL,
  Beginn DATE NOT NULL,
  Ende DATE NOT NULL,
  Sponsor VARCHAR(100) NOT NULL,
  Nummer INT NOT NULL,
  Nummer INT NOT NULL,
  CONSTRAINT pk_PROJEKT PRIMARY KEY (Nummer),
  CONSTRAINT fk_FORSCHUNGSGRUPPRE FOREIGN KEY (Nummer) REFERENCES FORSCHUNGSGRUPPE(Nummer),
  CONSTRAINT fk_VERSUCH FOREIGN KEY (Nummer) REFERENCES VERSUCH(Nummer)
);

: Msg 2705, Level 16, State 3, Line 47
Spaltennamen müssen in jeder Tabelle eindeutig sein. Der Spaltenname "Nummer" wurde in der MITARBEITER-Tabelle mehrmals angegeben.