# Objekte und Daten für DCL-Demo

## Schema\_A enthält Tabellen

- Kategorie
- Person

## Schema\_B enthält 3 Views, eine Prozedur und eine Funktion

- **Views**: vw\_IT, vw\_Kino, vw\_Sport
- **Prozedur**: usp\_FindePerson
- **Funktion**: udf\_CountPeople

In [ ]:
-- DATABASE
USE Master;

DROP DATABASE IF EXISTS DCL_Demo;
GO

In [ ]:
CREATE DATABASE DCL_Demo;
GO 

USE DCL_Demo;
GO

In [ ]:
-- SCHEMA
CREATE SCHEMA Schema_A;
GO
CREATE SCHEMA Schema_B;
GO

In [ ]:
-- TABLE
CREATE TABLE Schema_A.Kategorie (
    ID INT IDENTITY(1,1) NOT NULL,
    Kategorie VARCHAR(50) NOT NULL,
    CONSTRAINT pk_Kategorie PRIMARY KEY(ID)
);

CREATE TABLE Schema_A.Person (
    ID INT IDENTITY(1,1) NOT NULL,
    Vorname VARCHAR(50) NOT NULL,
    Nachname VARCHAR(50) NOT NULL,
    KategorieID INT NOT NULL,
    CONSTRAINT pk_Person PRIMARY KEY(ID),
    CONSTRAINT fk_Person_Kategorie FOREIGN KEY(KategorieID) REFERENCES Schema_A.Kategorie(ID)
);
GO

In [ ]:
-- VIEW
CREATE OR ALTER VIEW Schema_B.vw_Sport
AS
SELECT p.ID, p.Vorname, p.Nachname, k.Kategorie
FROM Schema_A.Kategorie AS k
JOIN Schema_A.Person AS p ON k.ID = p.KategorieID
WHERE k.Kategorie = 'Sport';
GO

CREATE OR ALTER VIEW Schema_B.vw_Kino
AS
SELECT p.ID, p.Vorname, p.Nachname, k.Kategorie
FROM Schema_A.Kategorie AS k
JOIN Schema_A.Person AS p ON k.ID = p.KategorieID
WHERE k.Kategorie = 'Kino';
GO

CREATE OR ALTER VIEW Schema_B.vw_IT
AS
SELECT p.ID, p.Vorname, p.Nachname, k.Kategorie
FROM Schema_A.Kategorie AS k
JOIN Schema_A.Person AS p ON k.ID = p.KategorieID
WHERE k.Kategorie = 'IT';
GO

In [ ]:
-- User Stored PROCEDURE
CREATE OR ALTER PROCEDURE Schema_B.usp_FindePerson (
    @search VARCHAR(50) 
)
AS
SELECT p.ID, p.Vorname, p.Nachname, k.Kategorie
FROM Schema_A.Kategorie AS k 
JOIN Schema_A.Person AS p ON k.ID = p.KategorieID
WHERE p.Vorname LIKE '%' + @search + '%' OR p.Nachname LIKE '%' + @search + '%';

In [ ]:
CREATE OR ALTER FUNCTION Schema_B.udf_CountPeople (
    @Kategorie VARCHAR(50)
)
RETURNS INT
AS
BEGIN
DECLARE @Cnt INT;
SELECT @Cnt = COUNT(p.ID)
FROM Schema_A.Kategorie AS k
JOIN Schema_A.Person AS p ON k.ID = p.KategorieID
WHERE k.Kategorie = @Kategorie;
RETURN @Cnt;
END;

In [ ]:
-- Data
INSERT INTO Schema_A.Kategorie (Kategorie)
VALUES ('IT'),
    ('Kino'),
    ('Sport');

INSERT INTO Schema_A.Person (Vorname, Nachname, KategorieID)
VALUES ('Konrad', 'Zuse', 1),    
    ('Scarlett', 'Johansson', 2),    
    ('Charles', 'Babbage', 1),    
    ('Bill', 'Gates', 1),    
    ('Alan', 'Turing', 1),    
    ('Venus', 'Williams', 3),    
    ('Steve', 'Jobs', 1),    
    ('Gordon', 'Moore', 1),    
    ('Ada', 'Lovelace', 1),    
    ('Katherine', 'Johnson', 1),    
    ('Annie', 'Easley', 1),    
    ('Lindsey', 'Vonn', 3),    
    ('Edson Pélé', 'Arantes do Nasciment0', 3),    
    ('Serena', 'Williams', 3),    
    ('Dirk', 'Nowitzki', 3),    
    ('Muhammed', 'Ali', 3),    
    ('Michael', 'Jordan', 3),    
    ('Gwyneth', 'Paltrow', 2),    
    ('Michael', 'Schumacher', 3),    
    ('Harrison', 'Ford', 2),    
    ('Zoe', 'Saldana', 2),    
    ('Eva', 'Green', 2),    
    ('Mel', 'Gibson', 2),    
    ('Angelique', 'Kerber', 3),    
    ('Bruce', 'Willis', 2),    
    ('Kate', 'Blanchett', 2),    
    ('Michael', 'Phelps', 3),    
    ('Al', 'Pacino', 2),    
    ('Robert', 'De Niro', 2),    
    ('Tim', 'Berners-Lee', 1),    
    ('Daniel', 'Craig', 2),    
    ('Morgan', 'Freeman', 2);

/*
    https://www.sutori.com/en/story/famous-people-in-computer-history--TcHp7hWrDd1ZfLW2zQfxCs5h
    https://www.intalio.com/10-women-who-changed-the-technology-world/
    https://www.sportbuzzer.de/galerie/die-50-grossten-sportler-der-geschichte/
    https://www.sport.de/diashow/sl2624/die-groessten-sportler-aller-zeiten/
    https://www.the-numbers.com/box-office-star-records/worldwide/lifetime-acting/top-grossing-leading-stars
    https://www.the-numbers.com/box-office-star-records/worldwide/lifetime-acting/top-grossing-stars
*/

In [ ]:
SELECT * FROM Schema_B.vw_IT;
SELECT * FROM Schema_B.vw_Sport;
SELECT * FROM Schema_B.vw_Kino;

In [ ]:
EXECUTE Schema_B.usp_FindePerson 'Micha';

In [ ]:
SELECT Schema_B.udf_CountPeople('IT') AS [Anzahl Personen in IT];