# Mit COLLATE die Sortierreihenfolge anpassen

In [2]:
-- Sortierung OHNE Berücksichtigung von Groß- und Kleinschreibung und Akzenten
SELECT Vorname
FROM Sortierung
ORDER BY Vorname COLLATE Latin1_General_CI_AI ASC;

-- Sortierung MIT Berücksichtigung von Groß- und Kleinschreibung und Akzenten
SELECT Vorname
FROM Sortierung
ORDER BY Vorname COLLATE Latin1_General_CS_AS ASC;

Vorname
albert
Albert
ALBERT
álbert
Álbert
ÁLBERT
aLBERT
berta
Berta

Vorname
albert
aLBERT
Albert
ALBERT
álbert
Álbert
ÁLBERT
berta
Berta

In [3]:
-- Orte in typischer Latin1 Sortierung
SELECT Place FROM Locations
ORDER BY Place
COLLATE Latin1_General_CS_AS ASC;

-- Orte in Spanischer Sortierung
-- Ch ist ein eigener Buchstabe!
SELECT Place FROM Locations
ORDER BY Place
COLLATE Traditional_Spanish_ci_ai ASC;

Place
California
Chiapas
Cinco Rios
Colima

Place
California
Cinco Rios
Colima
Chiapas

In [ ]:
SELECT * FROM sys.fn_helpcollations()