# OFFSET ... FETCH

Diese Klauseln werden zum Blättern in Datenbeständen verwendet.

  

Der Hilfeartikel zu [FETCH](https://learn.microsoft.com/en-us/sql/t-sql/language-elements/fetch-transact-sql?view=sql-server-ver16) behandelt die Anweisung im Kontext von Cursern, die zum Durchlaufen von Datensätzen verwendet werden.

Folgende Beispiele sind keine Cursor, sondern einfaches "Blättern", um keine große Anzahl Zeilen auf einmal anzuzeigen.

In [ ]:
-- OFFSET..FETCH
SELECT AdressID, Nachname, Vorname, Ort
FROM Adresse
ORDER BY AdressID
OFFSET 100 ROWS
FETCH NEXT 20 ROWS ONLY;

In [ ]:
-- Blättern mit Variablen
DECLARE @pagesize INT = 20, @page INT = 6;
SELECT AdressID, Nachname, Vorname, Ort
FROM Adresse
ORDER BY AdressID
OFFSET @pagesize * (@page - 1) ROWS
FETCH NEXT @pagesize ROWS ONLY;

In [ ]:
-- Erstellen einer Prozedur zum Blättern
CREATE OR ALTER PROCEDURE usp_ZeigeAdressen 
(
	@pagesize INT = 20, 
	@page INT = 1
)
AS
BEGIN
	SELECT AdressID, Nachname, Vorname, Ort
	FROM Adresse
	ORDER BY AdressID
	OFFSET @pagesize * (@page - 1) ROWS
	FETCH NEXT @pagesize ROWS ONLY;
END;

In [ ]:
-- Prozeduraufrufe zum Blättern in den Adressen
-- Bitte einzeln ausführen
-- EXEC usp_ZeigeAdressen;
-- EXEC usp_ZeigeAdressen 50, 10;
-- EXEC usp_ZeigeAdressen 'DROP DATABASE master', 123;
-- EXEC usp_ZeigeAdressen 50, -13;