# CASE

Sie verwenden CASE, wenn Sie nicht einfach nur Werte aus der Datenbank anzeigen möchten, sondern die **Werte interpretieren**, das heißt abhängig von den Werten unterschiedliche Ausgaben machen wollen.

- **Simple CASE** macht die Ausgabe abhängig von bestimmten Werten.
- **Searched CASE** verwendet Ausdrücke ähnlich wie in WHERE Klauseln und passt die Ausgabe an, wenn das Ergebnis eines solchen Ausdrucks WAHR wird.

**Referenz**: [CASE](https://learn.microsoft.com/en-us/sql/t-sql/language-elements/case-transact-sql?view=sql-server-ver16)

In [ ]:
-- Simple CASE
SELECT AdressID, Nachname, Vorname, Ort
	, Newsletter
	, CASE Newsletter 
		WHEN 1 THEN 'Abonniert'
		ELSE 'Nicht abonniert'
	  END AS [Newsletter Abo]
FROM Adresse
ORDER BY AdressID;

In [ ]:
-- Searched CASE
SELECT AdressID, Nachname, Vorname, Ort
	, LEFT(Nachname, 1) AS [Anfangsbuchstabe]
	, CASE
		WHEN LEFT(Nachname, 1) BETWEEN 'A' AND 'H'
			THEN 'Frau Mayer'
	    WHEN LEFT(Nachname, 1) BETWEEN 'I' AND 'R'
			THEN 'Herr Müller' 
        ELSE 'Frau Schmidt'
	END AS [Sachbearbeiter]
FROM Adresse
ORDER BY AdressID;