# String Funktionen

[Referenz: String Funktionen](https:\learn.microsoft.com\en-us\sql\t-sql\functions\string-functions-transact-sql?view=sql-server-ver16)

Entdecke die diversen String-Funktionen anhand der Referenz.

Ich zeige hier nur eine ausgewählte Funktion: [STRING\_AGG](https:\learn.microsoft.com\en-us\sql\t-sql\functions\string-agg-transact-sql?view=sql-server-ver16)

Sie verkettet Werte aus mehreren Datensätzen zu einer Zeichenkette.

In [ ]:
SELECT k.Firma, COALESCE(STRING_AGG(b.Bestelldatum, ', '), '— keine —') AS [Bestelldaten]
FROM Kunde AS k
LEFT JOIN Bestellung AS b ON k.KundenNr = b.KundenNr
GROUP BY k.Firma
ORDER BY k.Firma;