# Abfragen zur Darstellung der Normalisierungsschritte

DIe Datenbank wird in [Struktur]() in der dritten Normalform erstellt und in [Daten]() mit Datensätzen befüllt. 

  

Nachfolgende Abfragen dienen dazu, die nicht normalisierten Daten und die Daten in der ersten und zweiten Normalform anzuzeigen.

In [1]:
USE NormalisierungsDemo;

-- Rohdaten
SELECT p1.PersonalNr, CONCAT(p1.Vorname,' ', p1.Name) AS Name, a.AbtNr AS AbtNr, a.Name AS AbtBezeichnung,
    COALESCE(STRING_AGG(p2.ProjNr, ', '),'') AS ProjNr, 
    COALESCE(STRING_AGG(p2.Beschreibung, ', '),'') AS ProjektBeschreibung, 
    COALESCE(STRING_AGG(t.Tätigkeit, ', '),'') AS Tätigkeit,
    COALESCE(STRING_AGG(aa.Stunden, ', '), '') AS Stunden,
    COALESCE(STRING_AGG(t.Stundenlohn, ', '), '') AS Stundenlohn
FROM Personal AS p1
LEFT JOIN Abteilung AS a ON p1.AbtNr = a.AbtNr
LEFT JOIN Arbeitet_An AS aa ON p1.PersonalNr = aa.PersonalNr
LEFT JOIN Projekt AS p2 ON p2.ProjNr = aa.ProjNr
LEFT JOIN Tätigkeit AS t ON aa.TätigkeitsNr = t.TätigkeitsNr
GROUP BY p1.PersonalNr, p1.Name, p1.Vorname, a.AbtNr, a.Name 
ORDER BY p1.PersonalNr;

PersonalNr,Name,AbtNr,AbtBezeichnung,ProjNr,ProjektBeschreibung,Tätigkeit,Stunden,Stundenlohn
1,Maria Eichenau,1,Personal,,,,,
2,Stefanie Glahn,2,Einkauf,"1, 3","Kundenumfrage, Konkurrenzanalyse","Leitung, Bearbeitung","25, 80","50.00, 30.00"
3,Karin Kirsch,2,Einkauf,"1, 3","Kundenumfrage, Konkurrenzanalyse","Bearbeitung, Bearbeitung","55, 65","30.00, 30.00"
4,Sean Conolly,3,Verkauf,"1, 2, 3","Kundenumfrage, Verkaufsmesse, Konkurrenzanalyse","Bearbeitung, Leitung, Leitung","70, 25, 25","30.00, 50.00, 50.00"
5,Lutz Frawley,3,Verkauf,2,Verkaufsmesse,Präsentationsvorbereitung,160,35.00

In [ ]:
-- 1NF
SELECT p1.PersonalNr, p1.Name, p1.Vorname, a.AbtNr, a.Name AS AbtBezeichnung,
    COALESCE(CAST(p2.ProjNr AS CHAR(3)), '') AS ProjNr, 
    COALESCE(p2.Beschreibung, '') AS ProjektBeschreibung, 
    COALESCE(t.Tätigkeit, '') AS Tätigkeit,
    COALESCE(CAST(aa.Stunden AS CHAR(3)), '') AS Stunden,
    COALESCE(CAST(t.Stundenlohn AS CHAR(5)), '') AS Stundenlohn
FROM Personal AS p1
LEFT JOIN Abteilung AS a ON p1.AbtNr = a.AbtNr
LEFT JOIN Arbeitet_An AS aa ON p1.PersonalNr = aa.PersonalNr
LEFT JOIN Projekt AS p2 ON p2.ProjNr = aa.ProjNr
LEFT JOIN Tätigkeit AS t ON aa.TätigkeitsNr = t.TätigkeitsNr
ORDER BY p1.PersonalNr;

In [ ]:
-- 2NF
SELECT PersonalNr, Name, Vorname, AbtNr FROM Personal;

SELECT AbtNr, Name FROM Abteilung;

SELECT ProjNr, Beschreibung FROM Projekt;

SELECT aa.PersonalNr, aa.ProjNr, t.Tätigkeit, aa.Stunden, t.Stundenlohn
FROM Arbeitet_An AS aa
JOIN Tätigkeit AS t ON aa.TätigkeitsNr = t.TätigkeitsNr;

In [ ]:
-- 3NF

SELECT PersonalNr, ProjNr, TätigkeitsNr, Stunden FROM Arbeitet_An;

SELECT TätigkeitsNr, Tätigkeit, Stundenlohn FROM Tätigkeit;