# Demonstration: Auswirkungen von Constraints

In [1]:
/*
	Wir probieren die Effekte von CONSTRAINTS
*/
-- Daten erfassen, DEFAULT Constraint in Aktion
INSERT INTO Tätigkeit (TätigkeitsNr, Tätigkeit)
VALUES (4, 'Recherche'),
	(5, 'Dokumentation');

-- Ankucken, was steht alles drin
SELECT * FROM Tätigkeit;

--Projektion: welche Spalten / Selektion: welche Zeilen
SELECT TätigkeitsNr, Tätigkeit, Stundenlohn -- Projektion
FROM Tätigkeit
WHERE TätigkeitsNr = 5; -- Filter: Selektion

-- Unique Constraint in Aktion
INSERT INTO Tätigkeit (TätigkeitsNr, Tätigkeit)
VALUES	(6, 'Dokumentation');

-- Check Constraint in Aktion
INSERT INTO Tätigkeit (TätigkeitsNr, Tätigkeit, Stundenlohn)
VALUES (7, 'Kaffee kochen', 99);

TätigkeitsNr,Tätigkeit,Stundenlohn
1,Leitung,50.00
2,Bearbeitung,30.00
3,Präsentationsvorbereitung,35.00
4,Recherche,20.00
5,Dokumentation,20.00

TätigkeitsNr,Tätigkeit,Stundenlohn
5,Dokumentation,20.00

: Msg 2627, Level 14, State 1, Line 18
Verletzung der UNIQUE KEY-Einschränkung "uq_Tätigkeit". Ein doppelter Schlüssel kann in das dbo.Tätigkeit-Objekt nicht eingefügt werden. Der doppelte Schlüsselwert ist (Dokumentation).

: Msg 547, Level 16, State 0, Line 22
Die INSERT-Anweisung steht in Konflikt mit der CHECK-Einschränkung "ck_Stundenlohn". Der Konflikt trat in der NormalisierungsDemo-Datenbank, Tabelle "dbo.Tätigkeit", column 'Stundenlohn' auf.

In [ ]:
-- Effekt eines FK Constraints
INSERT INTO Personal (PersonalNr, Name, Vorname, AbtNr)
VALUES (6, 'Schmidt', 'Paula', 99);