# ERDPlus Export des Datenmodells _NormalisierungsDemo_

**Code nicht ausführen:** Hier fehlen Anweisungen zum Erstellen der Datenbank!

In [ ]:
CREATE TABLE Abteilung
(
  AbtNr INT NOT NULL,
  Name VARCHAR(60) NOT NULL,
  PRIMARY KEY (AbtNr)
);

CREATE TABLE Projekt
(
  ProjNr INT NOT NULL,
  Beschreibung VARCHAR(120) NOT NULL,
  PRIMARY KEY (ProjNr)
);

CREATE TABLE Tätigkeit
(
  TätigkeitsNr INT NOT NULL,
  Tätigkeit VARCHAR(60) NOT NULL,
  Stundenlohn DECIMAL(9,2) NOT NULL,
  PRIMARY KEY (TätigkeitsNr)
);

CREATE TABLE Personal
(
  PersonalNr INT NOT NULL,
  Name VARCHAR(60) NOT NULL,
  Vorname VARCHAR(60) NOT NULL,
  AbtNr INT NOT NULL,
  PRIMARY KEY (PersonalNr),
  FOREIGN KEY (AbtNr) REFERENCES Abteilung(AbtNr)
);

CREATE TABLE Arbeitet_An
(
  Stunden INT NOT NULL,
  TätigkeitsNr INT NOT NULL,
  PersonalNr INT NOT NULL,
  ProjNr INT NOT NULL,
  PRIMARY KEY (PersonalNr, ProjNr),
  FOREIGN KEY (TätigkeitsNr) REFERENCES Tätigkeit(TätigkeitsNr),
  FOREIGN KEY (PersonalNr) REFERENCES Personal(PersonalNr),
  FOREIGN KEY (ProjNr) REFERENCES Projekt(ProjNr)
);