# Datenbank _NormalisierungsDemo_ und Tabellen erstellen

In [1]:
USE master;

DROP DATABASE IF EXISTS NormalisierungsDemo;
GO

CREATE DATABASE NormalisierungsDemo;
GO

USE NormalisierungsDemo;

CREATE TABLE Abteilung
(
  AbtNr INT NOT NULL,
  Name VARCHAR(60) NOT NULL,
  CONSTRAINT pk_Abteilung PRIMARY KEY (AbtNr)
);

CREATE TABLE Projekt
(
  ProjNr INT NOT NULL,
  Beschreibung VARCHAR(120) NOT NULL,
  CONSTRAINT pk_Projekt PRIMARY KEY (ProjNr),
  CONSTRAINT uq_Projekt UNIQUE(Beschreibung)
);

/*
  Demo DEFAULT, CHECK, UNIQUE Constraints
*/
CREATE TABLE Tätigkeit
(
  TätigkeitsNr INT NOT NULL,
  Tätigkeit VARCHAR(60) NOT NULL,
  Stundenlohn DECIMAL(9,2) CONSTRAINT df_Stundenlohn DEFAULT 20, 
  CONSTRAINT pk_Tätigkeit PRIMARY KEY (TätigkeitsNr),
  CONSTRAINT ck_Stundenlohn CHECK(Stundenlohn BETWEEN 15 AND 50),
  CONSTRAINT uq_Tätigkeit UNIQUE(Tätigkeit)
);

CREATE TABLE Personal
(
  PersonalNr INT NOT NULL,
  Name VARCHAR(60) NOT NULL,
  Vorname VARCHAR(60) NOT NULL,
  AbtNr INT NOT NULL,
  CONSTRAINT pk_Personal PRIMARY KEY (PersonalNr),
  CONSTRAINT fk_Personal_Abteilung FOREIGN KEY (AbtNr) REFERENCES Abteilung(AbtNr)
);

CREATE TABLE Arbeitet_An
(
  PersonalNr INT NOT NULL,
  ProjNr INT NOT NULL,
  TätigkeitsNr INT NOT NULL,
  Stunden INT NOT NULL,
  CONSTRAINT pk_ArbeitetAn PRIMARY KEY (PersonalNr, ProjNr),
  CONSTRAINT fk_ArbeitetAn_Tätigkeit FOREIGN KEY (TätigkeitsNr) REFERENCES Tätigkeit(TätigkeitsNr),
  CONSTRAINT fk_ArbeitetAn_Personal FOREIGN KEY (PersonalNr) REFERENCES Personal(PersonalNr),
  CONSTRAINT fk_ArbeitetAn_Projekt FOREIGN KEY (ProjNr) REFERENCES Projekt(ProjNr)
);