# Abfragen zur Darstellung der _Normalformen_ der Schule-Datenbank

Die Datenbank wurde in der dritten Normalform erstellt. Die nicht-normalisierte Tabelle, sowie die erste und zweite Normalform, werden durch folgende Abfragen dargestellt.

In [2]:
-- Unstrukturiert
SELECT s.SchuelerNr, CONCAT(s.Vorname, ' ', s.Nachname) AS Schüler, s.Klasse, k.Klassenlehrer, 
    STRING_AGG(la.LernangebotsNr, ', ') AS LernangebotsNr, 
    STRING_AGG(la.Beschreibung, ', ') AS Beschreibung, 
    STRING_AGG(lu.Stunden, ', ') AS Stunden
FROM Klasse AS k
JOIN Schueler AS s ON k.Klasse = s.Klasse
JOIN Lernangebotsuebersicht AS lu ON s.SchuelerNr = lu.SchuelerNr
JOIN Lernangebot AS la ON lu.LernangebotsNr = la.LernangebotsNr
GROUP BY s.SchuelerNr, s.Nachname, s.Vorname, s.Klasse, k.Klassenlehrer;

SchuelerNr,Schüler,Klasse,Klassenlehrer,LernangebotsNr,Beschreibung,Stunden
1,Ina Jürgens,11a,Lempel,2,Tanz,12
2,Tom Schmidt,12a,Breier,3,Chor,22
3,Franz Jäger,11a,Lempel,"1, 2, 3","Elektronik, Tanz, Chor","15, 12, 2"
4,Ina Olsen,11b,Sommer,2,Tanz,5
5,Paula Jürgens,12a,Breier,1,Elektronik,23

In [3]:
-- 1NF
SELECT s.SchuelerNr, s.Nachname, s.Vorname, s.Klasse,
    k.Klassenlehrer, la.LernangebotsNr, la.Beschreibung, lu.Stunden
FROM Klasse AS k
JOIN Schueler AS s ON k.Klasse = s.Klasse
JOIN Lernangebotsuebersicht AS lu ON s.SchuelerNr = lu.SchuelerNr
JOIN Lernangebot AS la ON lu.LernangebotsNr = la.LernangebotsNr;

SchuelerNr,Nachname,Vorname,Klasse,Klassenlehrer,LernangebotsNr,Beschreibung,Stunden
1,Jürgens,Ina,11a,Lempel,2,Tanz,12
2,Schmidt,Tom,12a,Breier,3,Chor,22
3,Jäger,Franz,11a,Lempel,1,Elektronik,15
3,Jäger,Franz,11a,Lempel,2,Tanz,12
3,Jäger,Franz,11a,Lempel,3,Chor,2
4,Olsen,Ina,11b,Sommer,2,Tanz,5
5,Jürgens,Paula,12a,Breier,1,Elektronik,23

In [ ]:
-- 2NF
SELECT LernangebotsNr, Beschreibung FROM Lernangebot;

SELECT s.SchuelerNr, s.Nachname, s.Vorname, s.Klasse, k.Klassenlehrer 
FROM Schueler AS s
JOIN Klasse AS k ON k.Klasse = s.Klasse;

SELECT SchuelerNr, LernangebotsNr, Stunden FROM Lernangebotsuebersicht;

In [4]:
-- 3NF
SELECT LernangebotsNr, Beschreibung FROM Lernangebot;

SELECT Klasse, Klassenlehrer FROM Klasse;

SELECT SchuelerNr, Nachname, Vorname, Klasse FROM Schueler;

SELECT SchuelerNr, LernangebotsNr, Stunden FROM Lernangebotsuebersicht;

LernangebotsNr,Beschreibung
1,Elektronik
2,Tanz
3,Chor

Klasse,Klassenlehrer
11a,Lempel
11b,Sommer
12a,Breier

SchuelerNr,Nachname,Vorname,Klasse
1,Jürgens,Ina,11a
2,Schmidt,Tom,12a
3,Jäger,Franz,11a
4,Olsen,Ina,11b
5,Jürgens,Paula,12a

SchuelerNr,LernangebotsNr,Stunden
1,2,12
2,3,22
3,1,15
3,2,12
3,3,2
4,2,5
5,1,23