# Datensätze in Datenbank _Schule_ einfügen

In [1]:
USE Schule;

INSERT INTO Lernangebot (Beschreibung)
VALUES ('Elektronik'),
    ('Tanz'),
    ('Chor');

INSERT INTO Klasse (Klasse, Klassenlehrer)
VALUES ('11a', 'Lempel'),
    ('11b', 'Sommer'),
    ('12a', 'Breier');

INSERT INTO Schueler (Nachname, Vorname, Klasse)
VALUES ('Jürgens', 'Ina', '11a'),
    ('Schmidt', 'Tom', '12a'),
    ('Jäger', 'Franz', '11a'),
    ('Olsen', 'Ina', '11b'),
    ('Jürgens', 'Paula', '12a');

INSERT INTO Lernangebotsuebersicht (SchuelerNr, LernangebotsNr, Stunden)
VALUES (1, 2, 12),
    (2, 3, 22),
    (3, 1, 15),
    (3, 2, 12),
    (3, 3, 2),
    (4, 2, 5),
    (5, 1, 23);

In [3]:
SELECT * FROM Lernangebot;

LernangebotsNr,Beschreibung
1,Elektronik
2,Tanz
3,Chor