# ERDPlus Export des Datenmodells _Schule_

**Code nicht ausf√ºhren:** Hier fehlen Anweisungen zur Erstellung der Datenbank!

In [ ]:
CREATE TABLE Lernangebot
(
  LernangebotsNr INT NOT NULL,
  Beschreibung VARCHAR(30) NOT NULL,
  PRIMARY KEY (LernangebotsNr)
);

CREATE TABLE Klasse
(
  Klasse CHAR(3) NOT NULL,
  Klassenlehrer VARCHAR(30) NOT NULL,
  PRIMARY KEY (Klasse)
);

CREATE TABLE Schueler
(
  SchuelerNr INT NOT NULL,
  Vorname VARCHAR(30) NOT NULL,
  Nachname VARCHAR(30) NOT NULL,
  Klasse CHAR(3) NOT NULL,
  PRIMARY KEY (SchuelerNr),
  FOREIGN KEY (Klasse) REFERENCES Klasse(Klasse)
);

CREATE TABLE belegt
(
  Stunden INT NOT NULL,
  SchuelerNr INT NOT NULL,
  LernangebotsNr INT NOT NULL,
  PRIMARY KEY (SchuelerNr, LernangebotsNr),
  FOREIGN KEY (SchuelerNr) REFERENCES Schueler(SchuelerNr),
  FOREIGN KEY (LernangebotsNr) REFERENCES Lernangebot(LernangebotsNr)
);