# Datenbank _Schule_ und Tabellen erstellen

In [2]:
USE master;

DROP DATABASE IF EXISTS Schule;
GO

CREATE DATABASE Schule;
GO

USE Schule;

CREATE TABLE Lernangebot
(
  LernangebotsNr INT IDENTITY(1,1) NOT NULL,
  Beschreibung VARCHAR(30) NOT NULL,
  CONSTRAINT pk_Lernangebot PRIMARY KEY (LernangebotsNr)
);

CREATE TABLE Klasse
(
  Klasse CHAR(3) NOT NULL,
  Klassenlehrer VARCHAR(30) NOT NULL,
  CONSTRAINT pk_Klasse PRIMARY KEY (Klasse)
);

CREATE TABLE Schueler
(
  SchuelerNr INT IDENTITY(1,1) NOT NULL,
  Nachname VARCHAR(30) NOT NULL,
  Vorname VARCHAR(30) NOT NULL,
  Klasse CHAR(3) NOT NULL,
  CONSTRAINT pk_Schueler PRIMARY KEY (SchuelerNr),
  CONSTRAINT fk_Schueler_Klasse FOREIGN KEY (Klasse) REFERENCES Klasse(Klasse)
);

CREATE TABLE Lernangebotsuebersicht
(
  Stunden INT NOT NULL,
  SchuelerNr INT NOT NULL,
  LernangebotsNr INT NOT NULL,
  CONSTRAINT pk_Lernangebotsuebersicht PRIMARY KEY (SchuelerNr, LernangebotsNr),
  CONSTRAINT fk_Lernangebotsuebersicht_Schueler FOREIGN KEY (SchuelerNr) REFERENCES Schueler(SchuelerNr),
  CONSTRAINT fk_Lernangebotsuebersicht_Lernangebot FOREIGN KEY (LernangebotsNr) REFERENCES Lernangebot(LernangebotsNr)
);