# ERDPlus Export: Diesen Code <u>**NICHT!**</u> ausführen

In [5]:
CREATE TABLE Produkt
(
  ProduktID INT NOT NULL,
  Produkt VARCHAR(100) NOT NULL,
  Einzelpreis decimal(9,2) NOT NULL,
  PRIMARY KEY (ProduktID)
);

CREATE TABLE Kunde
(
  KundenNr INT NOT NULL,
  Vorname VARCHAR(100) NOT NULL,
  Nachname VARCHAR(100) NOT NULL,
  Firma VARCHAR(100) NOT NULL,
  PRIMARY KEY (KundenNr)
);

CREATE TABLE Mitarbeiter
(
  MitarbeiterNr INT NOT NULL,
  Vorname VARCHAR(100) NOT NULL,
  Nachname VARCHAR(100) NOT NULL,
  PRIMARY KEY (MitarbeiterNr)
);

CREATE TABLE Bestellung
(
  Bestelldatum DATE NOT NULL,
  BestellungID INT NOT NULL,
  KundenNr INT NOT NULL,
  MitarbeiterNr INT NOT NULL,
  PRIMARY KEY (BestellungID),
  FOREIGN KEY (KundenNr) REFERENCES Kunde(KundenNr),
  FOREIGN KEY (MitarbeiterNr) REFERENCES Mitarbeiter(MitarbeiterNr)
);

CREATE TABLE Bestelldetail
(
  Verkaufspreis Decimal(9,2) NOT NULL,
  Menge smallint NOT NULL,
  ProduktID INT NOT NULL,
  BestellungID INT NOT NULL,
  PRIMARY KEY (ProduktID, BestellungID),
  FOREIGN KEY (ProduktID) REFERENCES Produkt(ProduktID),
  FOREIGN KEY (BestellungID) REFERENCES Bestellung(BestellungID)
);

: Msg 2714, Level 16, State 6, Line 1
In der Datenbank ist bereits ein Objekt mit dem Namen "Produkt" vorhanden.