In [1]:
-- Wechsle in Master-Datenbank
/* 
mehrzeilige Kommentar
*/

USE master;

DROP DATABASE IF EXISTS ErsteSchritte;
-- Batch Operator
go 

CREATE DATABASE ErsteSchritte;
go

USE ErsteSchritte;

CREATE TABLE Produkt
(
  ProduktID INT IDENTITY(1,1) NOT NULL,
  Produkt VARCHAR(100) NOT NULL,
  Einzelpreis decimal(9,2) NOT NULL,
  CONSTRAINT pk_Produkt PRIMARY KEY (ProduktID)
);

CREATE TABLE Kunde
(
  KundenNr INT IDENTITY(1,1) NOT NULL,
  Vorname VARCHAR(100) NOT NULL,
  Nachname VARCHAR(100) NOT NULL,
  Firma VARCHAR(100) NOT NULL,
  CONSTRAINT pk_Kunde PRIMARY KEY (KundenNr)
);

CREATE TABLE Mitarbeiter
(
  MitarbeiterNr INT IDENTITY(1,1) NOT NULL,
  Vorname VARCHAR(100) NOT NULL,
  Nachname VARCHAR(100) NOT NULL,
  CONSTRAINT pk_Mitarbeiter PRIMARY KEY (MitarbeiterNr)
);

CREATE TABLE Bestellung
(
  Bestelldatum DATE NOT NULL,
  BestellungID  INT IDENTITY(1,1) NOT NULL,
  KundenNr INT NOT NULL,
  MitarbeiterNr INT NOT NULL,
  CONSTRAINT pk_Bestellung PRIMARY KEY (BestellungID),
  CONSTRAINT fk_Bestellung_Kunde FOREIGN KEY (KundenNr) REFERENCES Kunde(KundenNr),
  CONSTRAINT fk_Bestellung_Mitarbeiter FOREIGN KEY (MitarbeiterNr) REFERENCES Mitarbeiter(MitarbeiterNr)
);

CREATE TABLE Bestelldetail
(
  Verkaufspreis Decimal(9,2) NOT NULL,
  Menge smallint NOT NULL,
  ProduktID INT NOT NULL,
  BestellungID INT NOT NULL,
  CONSTRAINT pk_Bestelldetail PRIMARY KEY (ProduktID, BestellungID),
  CONSTRAINT fk_Bestelldetail_Produkt FOREIGN KEY (ProduktID) REFERENCES Produkt(ProduktID),
  CONSTRAINT fk_Bestelldetail_Bestellung FOREIGN KEY (BestellungID) REFERENCES Bestellung(BestellungID)
);

: Msg 3702, Level 16, State 4, Line 8
Die ErsteSchritte-Datenbank kann nicht gelöscht werden, da sie zurzeit verwendet wird.

: Msg 1801, Level 16, State 3, Line 12
Die ErsteSchritte-Datenbank ist bereits vorhanden. Wählen Sie einen anderen Datenbanknamen aus.

: Msg 173, Level 15, State 13, Line 45
Die Definition für die BestellungID-Spalte muss einen Datentyp einschließen.

: Msg 156, Level 15, State 1, Line 61
Falsche Syntax in der Nähe des KEY-Schlüsselworts.