# Typumwandlung / CAST / TRY\_CAST / FORMAT / CONVERT

Nutzen Sie für explizite Typumwandlung CAST oder TRY\_CAST.

Falls die Umwandlung fehlschlägt, bricht CAST mit Fehlermeldung ab; TRY\_CAST gibt stattdessen NULL zurück. 

  

CONVERT gibt immer eine Zeichenkette zurück, nach der Sie nicht numerisch sortieren können!

In [ ]:
-- SELECT 1 + '1', 'A' + 1;

-- SELECT GETDATE(), CAST(GETDATE() AS date)

-- SELECT CAST('A' AS int)

SELECT TRY_CAST('A' AS int)

In [ ]:
SELECT k.Firma, 
    -- Ausgabe formatiert
    FORMAT(COALESCE(SUM(d.menge * d.Verkaufspreis), 0), 'N', 'de-de') AS Gesamtumsatz
FROM Kunde AS k 
LEFT JOIN Bestellung AS b ON k.KundenNr = b.KundenNr
    AND YEAR(b.Bestelldatum) = 2016
LEFT JOIN BestellDetail AS d ON b.BestellungID = d.BestellungID
GROUP BY k.Firma
-- Sortierung numerisch
ORDER BY SUM(d.menge * d.Verkaufspreis) DESC;

# FORMAT Beispiele aus der Referenz

[https://learn.microsoft.com/en-us/sql/t-sql/functions/format-transact-sql?view=sql-server-ver16](https://learn.microsoft.com/en-us/sql/t-sql/functions/format-transact-sql?view=sql-server-ver16)

In [ ]:
-- FORMAT( Zahl, Code, Kultur Region)
DECLARE @zahl DECIMAL(15,5) = 5.0 / 3 * 10000;
SELECT @zahl AS Unformatiert
	, FORMAT(@zahl, 'N', 'de-de') AS [Numeric]
	, FORMAT(@zahl, 'N0', 'de-de') AS [Keine Dezimalstelle]
	, FORMAT(@zahl, 'N1', 'de-de') AS [Eine Dezimalstelle]
	, FORMAT(@zahl, 'C', 'de-de') AS [Currency]
	, FORMAT(@zahl, 'G', 'de-de') AS [General];

-- mit dem Formatierten Wert kann nicht weiter gerechnet werden
DECLARE @formatiert VARCHAR(20) = FORMAT(@zahl, 'C', 'de-de');
SELECT TRY_PARSE(@formatiert AS DECIMAL(15,5)) * 5 AS Berechnung

In [ ]:
-- Formatierung der Uhrzeit
SELECT GETDATE() AS [GETDATE datetime], CAST(GETDATE() AS time) AS [GETDATE als time];

DECLARE @zeit time = CAST(GETDATE() AS time);
SELECT @zeit AS [Unformatierte Zeit] 
	, FORMAT(@zeit, N'hh\:mm') AS [Formatierte Zeit];

In [ ]:
-- Datumsformatierung
SELECT GETDATE() AS [Aktuelles Datum und Zeit]
	, FORMAT(GETDATE(), 'd', 'de-de') AS [kurzes Datum]
	, FORMAT(GETDATE(), 'D', 'de-de') AS [langes Datum]
	, FORMAT(GETDATE(), 'dddd', 'de-de') AS [Wochentag];

SELECT 'Heute ist ' + FORMAT(GETDATE(), 'dddd, \der d. MMMM yyyy.', 'de-de') AS [Datums-Ansage];

In [ ]:
-- Internationale Datumsformate, kurz und lang

SET DATEFORMAT mdy;
DECLARE @d DATE = '11/22/2020';
SELECT FORMAT( @d, 'd', 'en-US' ) 'US English'  
      ,FORMAT( @d, 'd', 'en-gb' ) 'Great Britain English'  
      ,FORMAT( @d, 'd', 'de-de' ) 'German'  
      ,FORMAT( @d, 'd', 'zh-cn' ) 'Chinese Simplified (PRC)';  
  
SELECT FORMAT( @d, 'D', 'en-US' ) 'US English'  
      ,FORMAT( @d, 'D', 'en-gb' ) 'Great Britain English'  
      ,FORMAT( @d, 'D', 'de-de' ) 'German'  
      ,FORMAT( @d, 'D', 'zh-cn' ) 'Chinese Simplified (PRC)';