In [2]:
-- Wechsle in Master-Datenbank
USE master;
 
DROP DATABASE IF EXISTS Carsharing;
-- Batch Operator
GO
 
CREATE DATABASE Carsharing;
GO
 
USE Carsharing;
 
CREATE TABLE Kunde
(
  KundeNr VARCHAR(30) NOT NULL,
  Strasse VARCHAR(50) NOT NULL,
  PLZ CHAR(5) NOT NULL,
  Ort VARCHAR(50) NOT NULL,
  Firma VARCHAR(50) NOT NULL,
  CONSTRAINT pk_Kunde PRIMARY KEY (KundeNr)
);

CREATE TABLE Monatsrechung
(
  RechnungsNr VARCHAR(30) NOT NULL,
  Rechnungsdatum SMALLDATETIME NOT NULL,
  KundeNr VARCHAR(30) NOT NULL,
  CONSTRAINT pk_Monatsrechung PRIMARY KEY (RechnungsNr),
  CONSTRAINT fk_Monatsrechung_Kunde FOREIGN KEY (KundeNr) REFERENCES Kunde(KundeNr)
);

CREATE TABLE Fahrzeug
(
  FahrzeugID INT IDENTITY(1,1) NOT NULL,
  Kennzeichen VARCHAR(15) NOT NULL,
  CONSTRAINT pk_Fahrzeug PRIMARY KEY (FahrzeugID)
);

CREATE TABLE Fahrzeugtyp
(
  FahrzeugtypID INT IDENTITY(1,1) NOT NULL,
  Typ VARCHAR(30) NOT NULL,
  EURperKM DECIMAL(9,2) NOT NULL,
  EURperStd DECIMAL(9,2) NOT NULL,
  FahrzeugID INT NOT NULL,
  CONSTRAINT fk_Fahrzeugtyp_Fahrzeug FOREIGN KEY (FahrzeugID) REFERENCES Fahrzeug(FahrzeugID)
);

CREATE TABLE Nutzer
(
  NutzerID INT IDENTITY(1,1) NOT NULL,
  KundeNr VARCHAR(30) NOT NULL,
  CONSTRAINT pk_Nutzer PRIMARY KEY (NutzerID),
  CONSTRAINT fk_Nutzer_Kunde FOREIGN KEY (KundeNr) REFERENCES Kunde(KundeNr)
);

CREATE TABLE Parameter
(
  ParameterID INT IDENTITY(1,1) NOT NULL,
  Parameter VARCHAR(30) NOT NULL,
  Wert DECIMAL(9,2) NOT NULL,
  CONSTRAINT pk_Parameter PRIMARY KEY (ParameterID)
);

CREATE TABLE Fahrt
(
  Abholung SMALLDATETIME NOT NULL,
  Rueckgabe SMALLDATETIME NOT NULL,
  StartKm DECIMAL(9,3) NOT NULL,
  EndKm DECIMAL(9,3) NOT NULL,
  NutzerID INT NOT NULL,
  FahrzeugID INT NOT NULL,
  CONSTRAINT pk_Fahrt PRIMARY KEY (NutzerID, FahrzeugID),
  CONSTRAINT fk_Fahrt_Nutzer FOREIGN KEY (NutzerID) REFERENCES Nutzer(NutzerID),
  CONSTRAINT fk_Fahrt_Fahrzeug FOREIGN KEY (FahrzeugID) REFERENCES Fahrzeug(FahrzeugID)
);