In [ ]:
-- Kunde
INSERT INTO Kunde (KundeNr, Strasse, PLZ, Ort, Firma)
VALUES 
('K10200', 'Gotthilf-von-Meyer-Bogen 12', '99900', 'Scharehausen', 'CarStar GmbH');

In [ ]:
SELECT * FROM Kunde;

In [ ]:
-- Monatsrechung

DECLARE @KundeNr VARCHAR;
SET @KundeNr = @@IDENTITY;
INSERT INTO Monatsrechung (RechnungsNr, Rechnungsdatum, KundeNr)
VALUES ('102015/005498', '2015-11-06', @KundeNr);

In [ ]:
SELECT * FROM Monatsrechung;

In [ ]:
-- Fahrzeug
INSERT INTO Fahrzeug (Kennzeichen)
VALUES 
('SHH-CS 650'),
('SHH-CS1116'),
('SHH-CS 538'),
('SHH-CS 604');

In [3]:
SELECT * FROM Fahrzeug;

In [ ]:
-- Fahrzeugtyp
INSERT INTO Fahrzeugtyp (Typ, EURperKM, EURperStd)
VALUES 
('Transporter', 0.35, 5.00),
('PKW-S', 0.19, 1.90),
('Kleinbus',0.42  , 3.70),
('Transporter', 0.35, 5.0);

In [ ]:
-- Nutzer
DECLARE @KundeNr VARCHAR;
SET @KundeNr = @@IDENTITY;
INSERT INTO Nutzer (KundeNr)
VALUES 
(@KundeNr);

In [4]:
SELECT * FROM Nutzer;

In [3]:
-- Fahrt
INSERT INTO Fahrt (Abholung, Rueckgabe, StartKm, EndKm, NutzerID, FahrzeugID)
VALUES
('2015-10-01 09:30', '2015-10-02 16:36', 39155, 39387, 1, 1),
('2015-10-13 16:36', '2015-10-13 14:15', 5666, 5715, 1, 2),
('2015-10-14 16:25', '2015-10-16 23:36', 57210, 57999, 1, 3),
('2015-10-21 17:07', '2015-10-21 21:36', 41554, 41621, 1, 4);

: Msg 547, Level 16, State 0, Line 2
Die INSERT-Anweisung steht in Konflikt mit der FOREIGN KEY-Einschr√§nkung "fk_Fahrt_Nutzer". Der Konflikt trat in der Carsharing-Datenbank, Tabelle "dbo.Nutzer", column 'NutzerID' auf.

In [1]:
-- Parameter
INSERT INTO Parameter (Parameter, Wert)
VALUES 
('Monatpauschale',9.2),
('NettobetragKM', (SELECT 
    SUM((EndKm - StartKm) * EURperKM) AS NettobetragKM
FROM 
    Fahrt
JOIN 
    Fahrzeugtyp ON Fahrt.FahrzeugID = Fahrzeugtyp.FahrzeugID)),

('NettobetragStd', (
    SELECT 
    SUM (DATEDIFF(HOUR, Abholung, Rueckgabe) * EURperStd) AS NettobetragStd
    FROM 
    Fahrt
    JOIN 
    Fahrzeugtyp ON Fahrt.FahrzeugID = Fahrzeugtyp.FahrzeugID

));

In [4]:
SELECT 
    SUM((EndKm - StartKm) * EURperKM) AS NettoKostenKM
FROM 
    Fahrt
JOIN 
    Fahrzeugtyp ON Fahrt.FahrzeugID = Fahrzeugtyp.FahrzeugID;

NettoKostenKM
NULL

In [5]:
SELECT 
    SUM (DATEDIFF(HOUR, Abholung, Rueckgabe) * EURperStd) AS TotalCostPerHour
FROM 
    Fahrt
JOIN 
    Fahrzeugtyp ON Fahrt.FahrzeugID = Fahrzeugtyp.FahrzeugID;

TotalCostPerHour
NULL