# ERDPlus Export: Diesen Code <u>**NICHT!**</u> ausführen

In [ ]:
CREATE TABLE Makler
(
  MaklerID INT NOT NULL,
  Vorname VARCHAR(30) NOT NULL,
  Nachname VARCHAR(30) NOT NULL,
  Telefon VARCHAR(20) NOT NULL,
  PRIMARY KEY (MaklerID)
);
CREATE TABLE Adresse
(
  AdressID INT NOT NULL,
  Strasse VARCHAR(50) NOT NULL,
  PLZ CHAR(5) NOT NULL,
  Ort VARCHAR(30) NOT NULL,
  PRIMARY KEY (AdressID)
);
CREATE TABLE Eigentuemer
(
  EigentuemerID INT NOT NULL,
  Firma VARCHAR(30),
  Vorname VARCHAR(30),
  Firma VARCHAR(30),
  AdressID INT NOT NULL,
  PRIMARY KEY (EigentuemerID),
  FOREIGN KEY (AdressID) REFERENCES Adresse(AdressID)
);
CREATE TABLE Kunde
(
  KundeID INT NOT NULL,
  Vorname INT,
  Nachname INT,
  Firma INT,
  AdressID INT NOT NULL,
  PRIMARY KEY (KundeID),
  FOREIGN KEY (AdressID) REFERENCES Adresse(AdressID)
);
CREATE TABLE Immobilie
(
  ImmobilienID INT NOT NULL,
  Objektname VARCHAR(50) NOT NULL,
  EigentuemerID INT NOT NULL,
  AdressID INT NOT NULL,
  PRIMARY KEY (ImmobilienID),
  FOREIGN KEY (EigentuemerID) REFERENCES Eigentümer(EigentuemerID),
  FOREIGN KEY (AdressID) REFERENCES Adresse(AdressID)
);
CREATE TABLE Besichtigung
(
  BesichtigungID INT NOT NULL,
  Datum DATE NOT NULL,
  ImmobilienID INT NOT NULL,
  KundeID INT NOT NULL,
  MaklerID INT NOT NULL,
  PRIMARY KEY (BesichtigungID),
  FOREIGN KEY (ImmobilienID) REFERENCES Immobilie(ImmobilienID),
  FOREIGN KEY (KundeID) REFERENCES Kunde(KundeID),
  FOREIGN KEY (MaklerID) REFERENCES Makler(MaklerID)
);