In [1]:
-- Makler
/*
INSERT INTO Makler (Vorname, Nachname, Telefon)
VALUES
    ('Berta', 'Maier', '089 1234-43'),
    ('Klaus', 'Baldus', '089 1234-12'),
    ('Toni', 'Sauer', '089 1234-40');
*/

In [2]:
SELECT * FROM Makler;

MaklerID,Vorname,Nachname,Telefon
1,Berta,Maier,089 1234-43
2,Klaus,Baldus,089 1234-12
3,Toni,Sauer,089 1234-40

In [3]:
-- Adresse
/*
INSERT INTO Adresse (Strasse, PLZ, Ort)
VALUES
    ('Am Leuchtturm 12','80333','München'),
    ('Kruppstr. 1', '45130', 'Essen'),
    ('Babelsberg Str. 20', '14480', 'Potsdam'),
    ('Schreiberweg 132', '80335', 'München'),
    ('Am Hafen', '20144', 'Hamburg'),
    ('Kruppstr. 1', '45130', 'Essen'),
    ('Kudamm 23','10115', 'Berlin'),
    ('Schulstr. 45', '93055', 'Regensburg'),
    ('Im Rhein 2', '50999', 'Köln'),
    ('Hochofen Allee 12', '44787', 'Bochum');
    */

In [4]:
SELECT * FROM Adresse;

AdressID,Strasse,PLZ,Ort
1,Am Leuchtturm 12,80333,München
2,Kruppstr. 1,45130,Essen
3,Babelsberg Str. 20,14480,Potsdam
4,Schreiberweg 132,80335,München
5,Am Hafen,20144,Hamburg
6,Kruppstr. 1,45130,Essen
7,Kudamm 23,10115,Berlin
8,Schulstr. 45,93055,Regensburg
9,Im Rhein 2,50999,Köln
10,Hochofen Allee 12,44787,Bochum

In [18]:
/*UPDATE Adresse
SET Strasse ='Kruppstr. 1',
    PLZ ='45130',
    Ort ='Essen'
WHERE AdressID = 2;

In [5]:
-- Eigentümer
/*
INSERT INTO Eigentuemer (Firma, Vorname, Nachname, AdressID)
VALUES
    ('Bella Hotel AG', NULL, NULL, 5),
    (NULL, 'Alfredo', 'Kruppi', 6),
    (NULL, 'Marlene', 'Schulz', 7);
    */

In [27]:
/*UPDATE Eigentuemer
SET AdressID =5
WHERE EigentuemerID= 1;

: Msg 547, Level 16, State 0, Line 10
Die DELETE-Anweisung steht in Konflikt mit der REFERENCE-Einschränkung "fk_Immobilie_Eigentuemer". Der Konflikt trat in der Immobilien-Datenbank, Tabelle "dbo.Immobilie", column 'EigentuemerID' auf.

In [6]:
SELECT * FROM Eigentuemer;

EigentuemerID,Firma,Vorname,Nachname,AdressID
1,Bella Hotel AG,NULL,NULL,5
2,NULL,Alfredo,Kruppi,6
3,NULL,Marlene,Schulz,7

In [7]:
-- Kunde
/*
INSERT INTO Kunde (Firma, Vorname, Nachname, AdressID)
VALUES
    (NULL, 'Hans', 'Müller', 8),
    ('Schöller GmbH', NULL, NULL, 9), 
    (NULL, 'Gerd', 'Hoesch', 10); */

In [24]:
/*UPDATE Kunde
SET KundeID =1
WHERE Vorname = 'Hans';

*/

: Msg 8102, Level 16, State 1, Line 1
Die KundeID-Identitätsspalte kann nicht aktualisiert werden.

In [15]:
SELECT * FROM Kunde;

KundeID,Vorname,Nachname,Firma,AdressID
1,Hans,Müller,NULL,8
2,NULL,NULL,Schöller GmbH,9
3,Gerd,Hoesch,NULL,10

In [8]:
-- Immobilie
/*
INSERT INTO Immobilie (Objektname, EigentuemerID, AdressID)
VALUES
    ('A la cart Hotel', 1, 1),
    ('Villa Hügel', 2, 2),
    ('Filou Theater', 3, 3),
    ('Hotel Penthaus', 1, 4);
    */

In [25]:
/*UPDATE Immobilie
SET AdressID =1,
    EigentuemerID = 1
WHERE ImmobilienID= 1;

In [9]:
SELECT * FROM Immobilie;

ImmobilienID,Objektname,EigentuemerID,AdressID
1,A la cart Hotel,1,1
2,Villa Hügel,2,2
3,Filou Theater,3,3
4,Hotel Penthaus,1,4

In [16]:
-- Besichtigung

-- Beispiel einer erfolgreichen Transaktion 
-- Mitarbeiter Lutz Frawley wird angelegt und einem Projekt zugeordnet

/*
USE Immobilien;
BEGIN
    BEGIN TRANSACTION; -- Transaktion starten
    BEGIN TRY
     
    INSERT INTO Besichtigung (Datum, ImmobilienID, KundeID, MaklerID)
    VALUES
    ('2012-01-13', 1, 1, 1),
    ('2012-02-02', 1, 2, 2),
    ('2012-02-02', 4, 2, 2),
    ('2012-02-14', 3, 3, 3),
    ('2012-02-15', 4, 2, 3);
   

        COMMIT TRANSACTION; -- Transaktion bestätigen
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION; -- Transaktion annullieren
        THROW; -- Fehlermeldung anzeigen
    END CATCH;
END;
 */

In [17]:
SELECT * FROM Besichtigung;

BesichtigungID,Datum,ImmobilienID,KundeID,MaklerID
7,2012-01-13,1,1,1
8,2012-02-02,1,2,2
9,2012-02-02,4,2,2
10,2012-02-14,3,3,3
11,2012-02-15,4,2,3

In [2]:
SELECT
    Immo.Objektname AS 'ImmobilienName',
    Adr.Strasse + ', ' + Adr.PLZ + ' ' + Adr.Ort AS 'ImmobilienAdresse',
    Eig.Vorname + ' ' + Eig.Nachname AS 'EigentuemerName',
    Mak.Vorname + ' ' + Mak.Nachname AS 'MaklerName',
    Kun.Vorname + ' ' + Kun.Nachname AS 'KundeName'
FROM
    Immobilie Immo
INNER JOIN
    Adresse Adr ON Immo.AdressID = Adr.AdressID
INNER JOIN
    Eigentuemer Eig ON Immo.EigentuemerID = Eig.EigentuemerID
INNER JOIN
    Besichtigung Bes ON Immo.ImmobilienID = Bes.ImmobilienID
INNER JOIN
    Makler Mak ON Bes.MaklerID = Mak.MaklerID
INNER JOIN
    Kunde Kun ON Bes.KundeID = Kun.KundeID;

ImmobilienName,ImmobilienAdresse,EigentuemerName,MaklerName,KundeName
A la cart Hotel,"Am Leuchtturm 12, 80333 München",NULL,Berta Maier,Hans Müller
A la cart Hotel,"Am Leuchtturm 12, 80333 München",NULL,Klaus Baldus,NULL
Hotel Penthaus,"Schreiberweg 132, 80335 München",NULL,Klaus Baldus,NULL
Filou Theater,"Babelsberg Str. 20, 14480 Potsdam",Marlene Schulz,Toni Sauer,Gerd Hoesch
Hotel Penthaus,"Schreiberweg 132, 80335 München",NULL,Toni Sauer,NULL