# Demo: Referentielle Integrität

**Beziehungen** zwischen Tabellen **von Fremdschlüssel zu Primärschlüssel** dienen der Sicherung der **Referentiellen Integrität**.

Der Datensatz auf der Fremdschlüsselseite würde ungültig, wenn der referenzierte Datensatz auf der Primärschlüsselseite gelöscht würde oder sein Primärschlüssel geändert würde.

In dieser Demo werden die verschiedenen Optionen gezeigt, Fremdschlüssel zu definieren, und wie diese Optionen sich auf die Referentielle Intigrität auswirken.

In [ ]:
-- Datenbank für diese Demo anlegen
USE master;

DROP DATABASE IF EXISTS IntegrityDemo;
GO

CREATE DATABASE IntegrityDemo;
GO

USE IntegrityDemo;

## Default-Verhalten: ON UPDATE **NO ACTION** ON DELETE **NO ACTION**

In [ ]:
-- Objekte für Demo NO ACTION
SET NOCOUNT ON;

USE IntegrityDemo;

DROP TABLE IF EXISTS Mietfahrzeug;
GO

DROP TABLE IF EXISTS Preisklasse;
GO

CREATE TABLE Preisklasse (
    Klasse VARCHAR(12) NOT NULL,
    Tagespreis DECIMAL(9,2) NOT NULL,
    CONSTRAINT pl_Preisklasse PRIMARY KEY(Klasse)
);

CREATE TABLE Mietfahrzeug (
    TypID INT IDENTITY(1,1) NOT NULL,
    Fahrzeugtyp VARCHAR(50) NOT NULL,
    Klasse VARCHAR(12) NOT NULL,
    CONSTRAINT pk_Mietfahrzeug PRIMARY KEY(TypID),
    CONSTRAINT fk_Mietfahrzeug_Preisklasse FOREIGN KEY(Klasse)
        REFERENCES Preisklasse(Klasse)
        ON UPDATE NO ACTION ON DELETE NO ACTION
);

INSERT INTO Preisklasse (Klasse, Tagespreis)
VALUES ('Spezial', 20),
    ('S', 20),
    ('M', 30),
    ('L', 40);

INSERT INTO Mietfahrzeug (Fahrzeugtyp, Klasse)
VALUES ('Fiat 500', 'Spezial'),
    ('Skoda Citigo', 'Spezial'),
    ('VW up!', 'Spezial'),
    ('Fiat 500 Cabrio', 'S'),
    ('Ford Fiesta', 'S'),
    ('Opel Corsa', 'S'),
    ('Renault Clio', 'S'),
    ('BMW 1er', 'M'),
    ('Renault Grand Scénic', 'M'),
    ('Renault Megane Combi', 'M'),
    ('VW ID.3 E', 'M'),
    ('BMW 3er Kombi', 'L'),
    ('VW Passat Kombi', 'L'),
    ('Renault Master 9 Sitzer mit Rollstuhlrampe', 'L'),
    ('Renault Master Transporter', 'L');

SELECT pk.Klasse, mf.Fahrzeugtyp, pk.Tagespreis
FROM Preisklasse AS pk 
FULL OUTER JOIN Mietfahrzeug AS mf ON  pk.Klasse = mf.Klasse; 

SET NOCOUNT OFF;

In [ ]:
USE IntegrityDemo;

In [ ]:
-- Änderungen beschreibender Attribute sind unproblematisch
UPDATE Preisklasse
SET Tagespreis += 2.5
WHERE Klasse = 'S';

SELECT Klasse, Tagespreis FROM Preisklasse;

In [ ]:
-- Verhalten beim Umbenennen eines PKs
UPDATE Preisklasse
SET Klasse = 'Schnäppchen'
WHERE Klasse = 'Spezial';

In [ ]:
-- Verhalten beim Löschen eines PK-Datensatzes
DELETE FROM Preisklasse
WHERE Klasse = 'L';

## ON UPDATE **CASCADE** ON DELETE **CASCADE**

In [ ]:
-- Objekte für Demo CASCADE
SET NOCOUNT ON;

USE IntegrityDemo;

DROP TABLE IF EXISTS Mietfahrzeug;
GO

DROP TABLE IF EXISTS Preisklasse;
GO

CREATE TABLE Preisklasse (
    Klasse VARCHAR(12) NOT NULL,
    Tagespreis DECIMAL(9,2) NOT NULL,
    CONSTRAINT pl_Preisklasse PRIMARY KEY(Klasse)
);

CREATE TABLE Mietfahrzeug (
    TypID INT IDENTITY(1,1) NOT NULL,
    Fahrzeugtyp VARCHAR(50) NOT NULL,
    Klasse VARCHAR(12) NOT NULL,
    CONSTRAINT pk_Mietfahrzeug PRIMARY KEY(TypID),
    CONSTRAINT fk_Mietfahrzeug_Preisklasse FOREIGN KEY(Klasse)
        REFERENCES Preisklasse(Klasse)
        ON UPDATE CASCADE ON DELETE CASCADE
);

INSERT INTO Preisklasse (Klasse, Tagespreis)
VALUES ('Spezial', 20),
    ('S', 20),
    ('M', 30),
    ('L', 40);

INSERT INTO Mietfahrzeug (Fahrzeugtyp, Klasse)
VALUES ('Fiat 500', 'Spezial'),
    ('Skoda Citigo', 'Spezial'),
    ('VW up!', 'Spezial'),
    ('Fiat 500 Cabrio', 'S'),
    ('Ford Fiesta', 'S'),
    ('Opel Corsa', 'S'),
    ('Renault Clio', 'S'),
    ('BMW 1er', 'M'),
    ('Renault Grand Scénic', 'M'),
    ('Renault Megane Combi', 'M'),
    ('VW ID.3 E', 'M'),
    ('BMW 3er Kombi', 'L'),
    ('VW Passat Kombi', 'L'),
    ('Renault Master 9 Sitzer mit Rollstuhlrampe', 'L'),
    ('Renault Master Transporter', 'L');

SELECT pk.Klasse, mf.Fahrzeugtyp, pk.Tagespreis
FROM Preisklasse AS pk 
FULL OUTER JOIN Mietfahrzeug AS mf ON  pk.Klasse = mf.Klasse; 

SET NOCOUNT OFF;

In [ ]:
USE IntegrityDemo;

In [ ]:
-- Änderungen beschreibender Attribute sind unproblematisch
UPDATE Preisklasse
SET Tagespreis += 2.5
WHERE Klasse = 'S';

SELECT Klasse, Tagespreis FROM Preisklasse;

In [ ]:
-- Verhalten beim Umbenennen eines PKs
UPDATE Preisklasse
SET Klasse = 'Schnäppchen'
WHERE Klasse = 'Spezial';

In [ ]:
-- Verhalten beim Löschen eines PK-Datensatzes
DELETE FROM Preisklasse
WHERE Klasse = 'L';

In [ ]:
-- Wie haben sich die Daten durch CASCADE verändert?
SELECT pk.Klasse, mf.Fahrzeugtyp, pk.Tagespreis
FROM Preisklasse AS pk 
FULL OUTER JOIN Mietfahrzeug AS mf ON  pk.Klasse = mf.Klasse;

## ON UPDATE **SET NULL** ON DELETE **SET NULL**

In [ ]:
-- Objekte für Demo NO ACTION
SET NOCOUNT ON;

USE IntegrityDemo;

DROP TABLE IF EXISTS Mietfahrzeug;
GO

DROP TABLE IF EXISTS Preisklasse;
GO

CREATE TABLE Preisklasse (
    Klasse VARCHAR(12) NOT NULL,
    Tagespreis DECIMAL(9,2) NOT NULL,
    CONSTRAINT pl_Preisklasse PRIMARY KEY(Klasse)
);

CREATE TABLE Mietfahrzeug (
    TypID INT IDENTITY(1,1) NOT NULL,
    Fahrzeugtyp VARCHAR(50) NOT NULL,
    Klasse VARCHAR(12) NULL, -- Muss NULL zulassen!
    CONSTRAINT pk_Mietfahrzeug PRIMARY KEY(TypID),
    CONSTRAINT fk_Mietfahrzeug_Preisklasse FOREIGN KEY(Klasse)
        REFERENCES Preisklasse(Klasse)
        ON UPDATE SET NULL ON DELETE SET NULL
);

INSERT INTO Preisklasse (Klasse, Tagespreis)
VALUES ('Spezial', 20),
    ('S', 20),
    ('M', 30),
    ('L', 40);

INSERT INTO Mietfahrzeug (Fahrzeugtyp, Klasse)
VALUES ('Fiat 500', 'Spezial'),
    ('Skoda Citigo', 'Spezial'),
    ('VW up!', 'Spezial'),
    ('Fiat 500 Cabrio', 'S'),
    ('Ford Fiesta', 'S'),
    ('Opel Corsa', 'S'),
    ('Renault Clio', 'S'),
    ('BMW 1er', 'M'),
    ('Renault Grand Scénic', 'M'),
    ('Renault Megane Combi', 'M'),
    ('VW ID.3 E', 'M'),
    ('BMW 3er Kombi', 'L'),
    ('VW Passat Kombi', 'L'),
    ('Renault Master 9 Sitzer mit Rollstuhlrampe', 'L'),
    ('Renault Master Transporter', 'L');

SELECT pk.Klasse, mf.Fahrzeugtyp, pk.Tagespreis
FROM Preisklasse AS pk 
FULL OUTER JOIN Mietfahrzeug AS mf ON  pk.Klasse = mf.Klasse; 

SET NOCOUNT OFF;

In [ ]:
USE IntegrityDemo;

In [ ]:
-- Änderungen beschreibender Attribute sind unproblematisch
UPDATE Preisklasse
SET Tagespreis += 2.5
WHERE Klasse = 'S';

SELECT Klasse, Tagespreis FROM Preisklasse;

In [ ]:
-- Verhalten beim Umbenennen eines PKs
UPDATE Preisklasse
SET Klasse = 'Schnäppchen'
WHERE Klasse = 'Spezial';

In [ ]:
-- Verhalten beim Löschen eines PK-Datensatzes
DELETE FROM Preisklasse
WHERE Klasse = 'L';

In [ ]:
-- Wie haben sich die Daten bei SET NULL verändert?
SELECT pk.Klasse, mf.Fahrzeugtyp, mf.Klasse AS [Fahrzeug Klasse], pk.Tagespreis
FROM Preisklasse AS pk 
FULL OUTER JOIN Mietfahrzeug AS mf ON  pk.Klasse = mf.Klasse;

## ON UPDATE **SET DEFAULT** ON DELETE **SET DEFAULT**

In [ ]:
-- Objekte für Demo SET DEFAULT
SET NOCOUNT ON;

USE IntegrityDemo;

DROP TABLE IF EXISTS Mietfahrzeug;
GO

DROP TABLE IF EXISTS Preisklasse;
GO

CREATE TABLE Preisklasse (
    Klasse VARCHAR(12) NOT NULL,
    Tagespreis DECIMAL(9,2) NOT NULL,
    CONSTRAINT pl_Preisklasse PRIMARY KEY(Klasse)
);

CREATE TABLE Mietfahrzeug (
    TypID INT IDENTITY(1,1) NOT NULL,
    Fahrzeugtyp VARCHAR(50) NOT NULL,
    Klasse VARCHAR(12) NOT NULL CONSTRAINT df_Klasse DEFAULT 'M',
    CONSTRAINT pk_Mietfahrzeug PRIMARY KEY(TypID),
    CONSTRAINT fk_Mietfahrzeug_Preisklasse FOREIGN KEY(Klasse)
        REFERENCES Preisklasse(Klasse)
        ON UPDATE SET DEFAULT ON DELETE SET DEFAULT
);

INSERT INTO Preisklasse (Klasse, Tagespreis)
VALUES ('Spezial', 20),
    ('S', 20),
    ('M', 30),
    ('L', 40);

INSERT INTO Mietfahrzeug (Fahrzeugtyp, Klasse)
VALUES ('Fiat 500', 'Spezial'),
    ('Skoda Citigo', 'Spezial'),
    ('VW up!', 'Spezial'),
    ('Fiat 500 Cabrio', 'S'),
    ('Ford Fiesta', 'S'),
    ('Opel Corsa', 'S'),
    ('Renault Clio', 'S'),
    ('BMW 1er', 'M'),
    ('Renault Grand Scénic', 'M'),
    ('Renault Megane Combi', 'M'),
    ('VW ID.3 E', 'M'),
    ('BMW 3er Kombi', 'L'),
    ('VW Passat Kombi', 'L'),
    ('Renault Master 9 Sitzer mit Rollstuhlrampe', 'L'),
    ('Renault Master Transporter', 'L');

SELECT pk.Klasse, mf.Fahrzeugtyp, pk.Tagespreis
FROM Preisklasse AS pk 
JOIN Mietfahrzeug AS mf ON  pk.Klasse = mf.Klasse; 

SET NOCOUNT OFF;

In [ ]:
USE IntegrityDemo;

In [ ]:
-- Änderungen beschreibender Attribute sind unproblematisch
UPDATE Preisklasse
SET Tagespreis += 2.5
WHERE Klasse = 'S';

SELECT Klasse, Tagespreis FROM Preisklasse;

In [ ]:
-- Verhalten beim Umbenennen eines PKs
UPDATE Preisklasse
SET Klasse = 'Schnäppchen'
WHERE Klasse = 'Spezial';

In [ ]:
-- Verhalten beim Löschen eines PK-Datensatzes
DELETE FROM Preisklasse
WHERE Klasse = 'L';

In [ ]:
-- Wie haben sich die Daten bei SET DEFAULT verändert?
SELECT pk.Klasse, mf.Fahrzeugtyp, mf.Klasse AS [Fahrzeug Klasse], pk.Tagespreis
FROM Preisklasse AS pk 
FULL OUTER JOIN Mietfahrzeug AS mf ON  pk.Klasse = mf.Klasse;

## Abschluss

Löschen Sie die Datenbank **UntegrityDemo**.

In [ ]:
-- Aufräumen nach der Demo
USE master;

DROP DATABASE IF EXISTS IntegrityDemo;