# Getränkebestellung Daten erfassen

Stammdaten

In [1]:
-- Lieferant
/*

INSERT INTO Lieferant (Firma, Straße, PLZ, Ort)
VALUES  ('Schiller KG','Goetheplatz 3','12345','Berlin'),
        ('Mauer GmbH', 'Bahnweg 45','02345','Postdam'),
        ('Bäcker GmbH', 'Platz 45','65623','Reuth');
        */

In [3]:
SELECT * FROM Lieferant;

LieferantID,Firma,Straße,PLZ,Ort
1,Schiller KG,Goetheplatz 3,12345,Berlin
2,Mauer GmbH,Bahnweg 45,02345,Postdam
3,Bäcker GmbH,Platz 45,65623,Reuth

In [2]:
-- Gebindeart
/*
INSERT INTO Gebinde (GebindeArt)
VALUES  ('Faß'),
        ('Karton'),
        ('Kiste');
  */

In [5]:
SELECT * FROM Gebinde;

GebindeID,GebindeArt
1,Faß
2,Karton
3,Kiste

In [3]:
-- Artikel
/*
INSERT INTO Artikel (Artikel,GebindeID,UVP)
VALUES  ('Hydro-Wasser',3,5.50),
        ('Cola-Mix-Spree',3,12.50),
        ('Stone Energy Drink',2,22),
        ('Weizen Hell Rhein-Bräu',3, 15);
   */

In [7]:
SELECT * FROM Artikel;

ArtikelID,Artikel,UVP,GebindeID
1,Hydro-Wasser,5.50,3
2,Cola-Mix-Spree,12.50,3
3,Stone Energy Drink,22.00,2
4,Weizen Hell Rhein-Bräu,15.00,3

In [4]:
--Sortiment
/*
Schiller hat Hydro 7.99, cola Mix 11.99, Weizen 13.99
Mauer hat Stone-Energy 22
Bäcker hat 5.46, Stone-Energy 20
*/
/*
INSERT INTO Sortiment (LieferantID, ArtikelID, Angebotspreis)
VALUES  (1 , 1, 7.99 ),
        (1 , 2, 11.99),
        (1 , 4 , 13.99 ),
        ( 2, 3, 22),
        ( 3, 1 , 5.46 ),
        ( 3, 3 , 20 );

   */

In [8]:

SELECT l.Firma, a.Artikel, a.UVP , s.Angebotspreis
FROM Lieferant AS l
JOIN Sortiment  AS s ON l.LieferantID = s.LieferantID
JOIN Artikel AS a ON  a.ArtikelID = s.ArtikelID;

Firma,Artikel,UVP,Angebotspreis
Schiller KG,Hydro-Wasser,5.50,7.99
Schiller KG,Cola-Mix-Spree,12.50,11.99
Schiller KG,Weizen Hell Rhein-Bräu,15.00,13.99
Mauer GmbH,Stone Energy Drink,22.00,22.00
Bäcker GmbH,Hydro-Wasser,5.50,5.46
Bäcker GmbH,Stone Energy Drink,22.00,20.00

In [14]:
SELECT  b.BestellungID, l.Firma,bd.Menge,a.Artikel,bd.Preis, 
bd.Menge * bd.Preis AS Absatzmenge
FROM Lieferant AS l
JOIN Bestellung AS b ON l.LieferantID=b.LieferantID
JOIN Bestelldetail AS bd ON bd.BestellungID =b.BestellungID
JOIN Artikel AS a ON a.ArtikelID = bd.ArtikelID

In [15]:
 SELECT l.Firma, a.Artikel, a.UVP, s.Angebotspreis,
 a.UVP- s.Angebotspreis AS Ersparnis --AS definiert Spaltename
 FROM Lieferant AS l --AS definiert  alias
 JOIN  Sortiment AS s ON s.LieferantID=l.LieferantID
 JOIN Artikel AS a ON a.ArtikelID=s.ArtikelID

Firma,Artikel,UVP,Angebotspreis,Ersparnis
Schiller KG,Hydro-Wasser,5.50,7.99,-2.49
Schiller KG,Cola-Mix-Spree,12.50,11.99,0.51
Schiller KG,Weizen Hell Rhein-Bräu,15.00,13.99,1.01
Mauer GmbH,Stone Energy Drink,22.00,22.00,0.00
Bäcker GmbH,Hydro-Wasser,5.50,5.46,0.04
Bäcker GmbH,Stone Energy Drink,22.00,20.00,2.00

## Fakten

Hier gehören Zeilen aus verschidene Tabellen zusamnen ( Bestellunhg und Bestelldetail).

diese erfassen wir als **Transaktionen** nach dem **ACID** Prinzip)

In [8]:
--Trockenübungs TRY und CATCH

BEGIN 
    BEGIN TRY
       
        PRINT 'Yay! Alles Prima!';  


    END TRY
    BEGIN CATCH
      
        PRINT 'Aua! Schief gegangen!';
        THROW;
    END CATCH;
END;

In [5]:
--Trockenübungs TRY und CATCH
BEGIN 
    BEGIN TRY
        DECLARE @dividend decimal(9,2), @divisor decimal(9,2), @quotient decimal(9,2);
        SET @dividend =25;
        SET @divisor = 0;
        IF @divisor =0 THROW 50000, 'Du darfst nicht durch 0 teilen! ', 1; 
        SET @quotient =1.0* @dividend/@divisor;
        PRINT @quotient;
        PRINT 'Yay! Alles Prima!';  


    END TRY
    BEGIN CATCH
      
        PRINT 'Aua! Schief gegangen!';
        THROW;
    END CATCH;
END;

: Msg 50000, Level 16, State 1, Line 7
Du darfst nicht durch 0 teilen!

In [12]:
--Trockenübungs TRY und CATCH

BEGIN 
    BEGIN TRANSACTION;
    BEGIN TRY 
        DECLARE @BestellungID int;
        SET @BestellungID = @@IDENTITY;
        
    
       -- Schiller KG 1
       INSERT INTO Bestellung (LieferantID , Bestelldatum)
       VALUES (1,'2016-02-10')
       INSERT INTO Bestelldetail (BestellungID,ArtikelID, Menge, Preis)
       VALUES(@BestellungID,1,5,7.99)
       
       INSERT INTO Bestelldetail (BestellungID, ArtikelId, Menge, Preis)
       VALUES(@BestellungID,2,5,11.99)
        
        -- Mauer GmbH 
       INSERT INTO Bestellung (LieferantID , Bestelldatum)
       VALUES (2,'2016-02-17')
       INSERT INTO Bestelldetail (BestellungID,ArtikelID, Menge, Preis)
       VALUES(@BestellungID,3,10,22)
        
        -- Bäcker GmbH
       INSERT INTO Bestellung (LieferantID , Bestelldatum)
       VALUES (3,'2016-02-24')
       
       INSERT INTO Bestellung (LieferantID , Bestelldatum)
       VALUES (3,'2016-03-16')
       
       INSERT INTO Bestellung (LieferantID , Bestelldatum)
       VALUES (3,'2016-03-23')
              
       INSERT INTO Bestelldetail (BestellungID,ArtikelID, Menge, Preis)
       VALUES(@BestellungID,1,10,5.46)
        
       INSERT INTO Bestelldetail (BestellungID,ArtikelID, Menge, Preis)
       VALUES(@BestellungID,4,4,20)

        PRINT 'Yay! Alles Prima!';  
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        PRINT 'Aua! Schief gegangen!';
        THROW;
    END CATCH;
END;

: Msg 515, Level 16, State 2, Line 16
Der Wert NULL kann in die BestellungID-Spalte, Getraenkebestellung.dbo.Bestelldetail-Tabelle nicht eingefügt werden. Die Spalte lässt NULL-Werte nicht zu. Fehler bei INSERT.

In [13]:
SELECT * FROM Bestellung;

In [11]:
SELECT Bestellung.BestellungID, Lieferant.Firma, Bestellung.Bestelldatum , Bestelldetail.Menge, Artikel.Artikel, Bestelldetail.Preis
FROM Lieferant
JOIN Bestellung ON Lieferant.LieferantID = Bestellung.LieferantID
JOIN Bestelldetail ON Bestellung.BestellungID = Bestelldetail.BestellungID
JOIN Artikel ON Bestelldetail.ArtikelID = Artikel.ArtikelID;

BestellungID,Firma,Bestelldatum,Menge,Artikel,Preis
1,Schiller KG,2016-02-10,5,Hydro-Wasser,7.99
1,Schiller KG,2016-02-10,5,Cola-Mix-Spree,11.99

<span style="color: #6a9955;">--Trockenübungs TRY und CATCH</span>

In [18]:
SELECT Bestellung.BestellungID, Lieferant.Firma, Bestellung.Bestelldatum , Bestelldetail.Menge, Artikel.Artikel, Bestelldetail.Preis
FROM Lieferant
JOIN Bestellung ON Lieferant.LieferantID = Bestellung.LieferantID
JOIN Bestelldetail ON Bestellung.BestellungID = Bestelldetail.BestellungID
JOIN Artikel ON Bestelldetail.ArtikelID = Artikel.ArtikelID;

BestellungID,Firma,Bestelldatum,Menge,Artikel,Preis
8,Schiller KG,2016-02-10,5,Hydro-Wasser,7.99
8,Schiller KG,2016-02-10,5,Cola-Mix-Spree,11.99
9,Mauer GmbH,2016-02-17,10,Stone Energy Drink,22.00
10,Bäcker GmbH,2016-02-24,10,Hydro-Wasser,5.46
10,Bäcker GmbH,2016-02-24,4,Weizen Hell Rhein-Bräu,20.00
13,Schiller KG,2016-02-10,5,Hydro-Wasser,7.99
13,Schiller KG,2016-02-10,5,Cola-Mix-Spree,11.99
14,Mauer GmbH,2016-02-17,10,Stone Energy Drink,22.00
15,Bäcker GmbH,2016-02-24,10,Hydro-Wasser,5.46
15,Bäcker GmbH,2016-02-24,4,Weizen Hell Rhein-Bräu,20.00

In [ ]:
-- Bestellungdetail