# INSERT

In [2]:
INSERT INTO Kunde (Vorname, Nachname,Strasse,PLZ,Ort,Telefon)
SELECT Vorname, Nachname,Strasse,PLZ,Ort,Telefon
FROM Adresse
WHERE Ort = 'Marburg';

In [3]:
SELECT * 
FROM Kunde
WHERE Ort= 'Marburg'

KundenNr,Firma,Vorname,Nachname,Position,Strasse,Ort,PLZ,Land,Region,Telefon,Telefax
92,IAD GmbH,John,Doe,NULL,Neue Kasseler Strasse 62E,Marburg,35039,Deutschland,NULL,06421 / 9658-0,NULL
93,NULL,Chantall,Böttger,NULL,Mariendorfer Str. 134,Marburg,35039,NULL,NULL,06421 / 48541817,NULL
94,NULL,Alexa,Ewald,NULL,Sentmaringer Weg 189,Marburg,35039,NULL,NULL,06421 / 41671905,NULL
95,NULL,Lewin,Ball,NULL,Kösliner Str. 69,Marburg,35041,NULL,NULL,06421 / 43942040,NULL

In [7]:
-- Tabellenerstellungsabfrage  SELECT... INTO

SELECT Vorname, Nachname,Strasse,PLZ,Ort,Telefon
INTO MarburgerKunden -- Hier wird eine neue Tabelle erzeugt
FROM Kunde
WHERE Ort = 'Marburg';

: Msg 2714, Level 16, State 6, Line 3
In der Datenbank ist bereits ein Objekt mit dem Namen "MarburgerKunden" vorhanden.

In [8]:
SELECT * 
FROM MarburgerKunden
WHERE Ort= 'Marburg'

Vorname,Nachname,Strasse,PLZ,Ort,Telefon
John,Doe,Neue Kasseler Strasse 62E,35039,Marburg,06421 / 9658-0
Chantall,Böttger,Mariendorfer Str. 134,35039,Marburg,06421 / 48541817
Alexa,Ewald,Sentmaringer Weg 189,35039,Marburg,06421 / 41671905
Lewin,Ball,Kösliner Str. 69,35041,Marburg,06421 / 43942040

In [12]:
-- Neue Bestellung von Kundin Alexa Ewald aus Marburg bei Mitarbeiterin Janet Leverling
INSERT INTO Bestellung (Bestelldatum,KundenNr,MitarbeiterNr)
VALUES ('2024-02-07',(
    SELECT KundenNr FROM Kunde
    WHERE Vorname='Alexa' and Nachname ='Ewald' and Ort='Marburg'
) , (
    SELECT MitarbeiterNr FROM Mitarbeiter
    WHERE Vorname='Janet' AND Nachname='Leverling'
))

In [13]:
SELECT KundenNr FROM Kunde
    WHERE Vorname='Carlos'-- Vorname='Alexa' and Nachname ='Ewald' es gibt mehrere

In [15]:
SELECT * 
FROM Bestellung