# UPDATE

In [12]:
SELECT * FROM Kunde
WHERE Nachname='González'

KundenNr,Firma,Vorname,Nachname,Position,Strasse,Ort,PLZ,Land,Region,Telefon,Telefax
46,LILA-Supermercado,Karl,González,Chef,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,3548,Venezuela,Lara,(9) 331-6970,(9) 331-7256

In [11]:
UPDATE Kunde
SET Vorname ='Karl',
    Position ='Chef',
    Telefon ='(9) 331-6970',
    PLZ ='3548'
WHERE Nachname='González';

In [15]:
SELECT Einzelpreis FROM Produkt WHERE Produkt='Gravad lax'

Einzelpreis
"26,00"

In [16]:
UPDATE Produkt
SET Einzelpreis = Einzelpreis * 0.9
WHERE KategorieID = (
    SELECT * FROM Produktkategorie
    WHERE Kategorie = 'Meeresfrüchte'
);

: Msg 116, Level 16, State 1, Line 6
Nur ein einziger Ausdruck kann in der Auswahlliste angegeben werden, wenn die Unterabfrage nicht mit EXISTS eingeleitet wird.